.contenedor__actualizacion{
    margin-top: 200px;
}

.actualizacion{
    width: 100%;
    height: auto;
    margin: auto;
}
.titulo__actualizacion{
    text-align: center;
    color: $color__gris;

}
.contenedor__enlace__iniciar__sesion{
    width: 30%;
    margin: auto;
    text-align: center;
    
}

.enlace__iniciar__sesion{
    width: 100%;
    display: inline-block;
    text-decoration: 0;
    color:$color__gris;
    background:$color__verde;
    padding: 10px;
    color: white;
    border-radius: 7px;
    text-transform: uppercase;
}
.enlace__iniciar__sesion:hover{
   color: white;
}