.contenedor__formulario__sugerencia{
    margin-top: -600px;
}
.formulario__sugerencia{
    width: 70%;
}
.titulo__mejoras{
    color: white;
    text-align: center;
    font-size: $tamaño__fuente__subtitulo;
}
.parrafo__mejoras{
    color: $color__gris;
    text-align: center;
}

.parrafo__mejoras{
 width: 50%;
 margin: auto;
}

.titulo__mejoras{
    font-size: 30px;
}

.enlace__a__contacto{
text-decoration: 0;
color: $color__verde;
}

.enlace__a__contacto:hover{
    border-bottom: solid 2px $color__verde;
}
@media screen and (max-width:900px) {
    .parrafo__mejoras{
        width: 80%;
        margin: auto;
    }
    .formulario__sugerencia{
        width: 90%;
    }
}
