.contenedor__de__beneficios{
    margin-top: -700px;
}

.titulo__beneficios{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.subtitulo__beneficios{
    text-align: center;
    color: white;
    font-size: 20px;
}

.parrafo__beneficios{
    text-align: center;
    color: $color__gris;
    width: 70%;
    margin: 200px  auto 0 auto;
}