.contenedor__blog,  .contenedor__como__vender__un__carro{
    background:$color__fondo__blog;
}
.contenido__blog{
    width: 100%;
    height:auto;
  
}
.titulo__blog{
    color: white;
    font-size:1.5rem; 
    font-weight: bold; 
}
.contenedor__cards__blog{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cards__blog{
    background:$color__fondo__blog;
    width: 23%;
    height:auto;
    overflow: hidden;
    margin: .5rem;
}
 .cards__blog img{
    width:100%;
    height:100%;
    border-radius: 10px;

}

.enlace__pagina__blog{
     display: inline-block;
    text-decoration: 0;
    color: white;
    font-weight: bolder;
    text-align: left;
    font-size: 1rem;
    line-height: -4rem;
}
.enlace__pagina__blog:hover{
    color: white;
    text-decoration: underline;
    
}

.imagen__vehiculos__blog{
    display: inline-block;
    width: 100%;
    height: 500px;

}

.imagen__vehiculos__blog img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
   display: block;
}

// BLOG COMO VENDER UN CARRO
.contenido__como__vender__un__carro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo__como__vender__un__carro{
    color: white;
    font-weight: bolder;
}

.subtitulo__como__vender__un__carro{
 color: $color__gris;
 font-size: 1.1rem;
 line-height: 2rem;
}

.enlace__a__vender__mi__carro{
    display: inline-block;
    text-decoration: 0;
    color: white;
    padding: 12px;
     background: $color__accent;
     margin-right: 30px;
     width: 190px;
     border-radius: 7px;
     font-weight: bold;
     margin: 10px 10px 0;
     transition: ease-in-out .5s;
}

.enlace__a__vender__mi__carro:hover{
    background: #000;
    color: white;
    transform: scale(1.1);
}

.como__vender__un__carro{
    width: 44%;
}

.como__vender__un__carro img{
height: auto;
width: 100%;
border-radius: 10px;
}

.contenido__principal{
    background:$color__fondo;
    border-radius: 10px;
}

.tarjeta__del__contenido{
   width: 100%;
   height: auto;
}

.contenedor__de__texto__del__blog{
width: 98%;
margin: auto;
margin-top: -5rem;
}

.texto__del__blog{
    color:$color__gris;
    line-height: 2rem;
    font-size: 1.1rem;
}

.subtitulo__h3__blog{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.parrafo__compartir{
    color: white;

}
.contenedor__compartir__en__redes__sociales{
    display: flex;
}


.enlace__compratir{
    background:$color__adhoc;
    border-radius: 100%;
    margin: 5px;
     width: 50px;
     height: 50px;
     transition: ease-in-out .5s;
}

.twitter, .facebook{
    color: black;
    font-size: 1.2rem;
    transition: ease-in-out .5s;
}
.enlace__compratir, .twitter:hover{
    background: #000;
    transform: scale(1.1);
}

.facebook:hover{
    background: #000;
    transform: scale(1.1);
}
.texto__carro__electrico__edison{
    color: white;
    font-size: 9px;
}

.vehiculos__electricos{
    width: 100%;
    height: 400px;
    display: inline-block;
}

    .vehiculos__electricos img{
    width: 100%;
    height:100%;
    object-fit: cover;

    }


.imagen__banner__blog{
    margin: auto;
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

.descripcion__blog{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;  
    
}

.scroll{
    height: 40rem;
    overflow-y: scroll;
    
}

.scroll::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 8px;
}

.scroll::-webkit-scrollbar:horizontal{
    height: 5px;
   
}

.scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    border-radius: 20px;
}


.scroll::-webkit-scrollbar-track {
    border-radius: 10px; 
     
}


.fecha__publicacion{
    color: $color__verde;
}

.texto__blog{
    color: white;
    line-height: 2rem;
}
.subtitulo__blog{
    background: #000;
    color: white;
    width: 70%;
}

.los__carros__mas__vendidos{
    width: 60%;
}

.publicidad__blog{
    width: 40%;
    background-image: url(../img/anuncio__adhoc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
    
}

.subtitulo___anuncio__blog{
 color: $color__adhoc;
 margin-top: 80px;
 margin-left: 40px;
 font-weight: bolder;
}

.enlace__blog{
    text-decoration: 0;
    display: inline-block;
    margin-top: 300px;
    margin-left: 10px;
    background: #000;
    color: white;
    border-radius: 25px;
    padding: 10px;
}

.enlace__blog:hover{
    color: white;
}

.contendor__imagen__carro{
    width: 80%;
}

.texto__los__mas__vendidos{
    color: white;
}

.contador__los__mas__vendidos{
color: $color__verde;
font-weight: bolder;
}

.imagen__carro__los__mas__vendidos{
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.descripcion__los__carros__mas__vendidos{
    border-left: 4px solid $color__verde;
    height: 100px;
}

.texto__descripcion__los__mas__vendidos{
    color:$color__gris;
    font-weight: 100;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-img-anuncio-vender-vehiculo{
    width: 100%;
    height: 300px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 10px;
}

.h5-vender-vehiculo{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: bold;
}

.texto-registro{
    text-align: center;
    color: $color__adhoc;
    padding: 10px;
    background: #000;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
.texto-anuncio-vender-vehiculo{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
.enlace-anuncio-vender-vehiculo-usado{
text-decoration: 0;

}

.contenedor-slider-infinito{
    width: 100%;
    height: auto;
    margin: 5rem auto;
    overflow: hidden;
}

.h3-silder-infinito{
color:white;
font-size: 1.2rem;
}

.slide-track{
width: 100%;
display: flex;
flex-wrap: wrap;
}

.slide-infinito{
    width: 230px;
    margin: 10px;
}

.slide-infinito img{
border-radius: 10px;
width: 100%;
}

.enlace-slide-track{
text-decoration: 0;
}

.parrafo-slide-infinito{
    color: white;
    font-size: .9rem;
}

.subtitulo-h4{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width:1000px) {
    .contenedor__cards__blog{
        flex-wrap: wrap;
    }

   .cards__blog{
    width: 46%;
   }

   .contenido__como__vender__un__carro{
    flex-wrap: wrap;
    flex-direction: column-reverse;
   }

   .como__vender__un__carro{
    width: 100%;
   }

   .los__carros__mas__vendidos{
    width: 100%;
   }

   .publicidad__blog{
    display: none;
   }

   .col-12{
    width: 100%;
}
   
}

@media screen and (max-width:900px){
    .imagen__vehiculos__blog{
        height: 270px;
    }
    .texto__del__blog{
        font-size: 17px;
    }
    
    .slide-infinito{
        width: 45%;
        }
    }

    @media screen and (max-width:800px) {
        .div-img-anuncio-vender-vehiculo{
            height: 350px;
        }
        .texto-registro{
            width: 90%;
        }
    }

@media screen and (max-width:700px){
    .imagen__vehiculos__blog{
        height: 200px;
    }
    .h5-vender-vehiculo{
        font-size: 1.4rem;
    }
    .texto-anuncio-vender-vehiculo{
        font-size: 1rem;
    }
    .texto__del__blog{
        font-size: 14px;
    }
    }

@media screen and (max-width:600px) {
    .h5-vender-vehiculo{
        font-size: 1.1rem;
    }
    .texto-anuncio-vender-vehiculo{
        font-size: .9rem;
    }
    .contenedor__cards__blog{
        flex-wrap: wrap;
    }

    .cards__blog{
        width: 46%;
       } 
     
   .formulario__newsletter{
     width: 100%;
   }

   .col-12{
    width: 98%;
}


.slide-infinito{
width: 45%;
}

.boton__newsletter{
    width: 95%;
    margin: auto;
    margin-left: 5px;
    margin-top: 10px;
}

}
@media screen and  (max-width:500px) {
.div-img-anuncio-vender-vehiculo{
    height: 300px;
}    
}

@media screen and (max-width:450px) {
    .cards__blog{
        width: 44%;
       } 
       .enlace__pagina__blog{
        font-size: 12px;
       }

       .slide-infinito{
        width: 100%;
        }
}

@media screen and (max-width:300px) {
    .cards__blog{
        width: 40%;
       } 
       .enlace__pagina__blog{
        font-size: 12px;
       }
}