
.contendor__de__vehiculos{
    width: 100%;
    height: auto;
}
.hero__textos__carros__y__camionetas{
    width: 80%;
  margin-top: -35rem;
}
.title__carros__y__comionetas{
    color:$color__adhoc;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
   
}
.title--active__carros__y__camionetas{
    color:white;
    font-size: 3rem;
}
.hero__main__vehiculos {
    width: 100%;
    height: 45rem;
    overflow: hidden;
 
}
.buscador{
    width: 60%;
    margin: auto;
  }
  form.example input[type=text] {
    padding: 13px;
    font-size: 17px;
    float: left;
    width: 70%;
    background:$color__fondo;
    border: 0;
    outline: 0;
    border-radius:7px;
    color: white;
    background: #000;
    margin-left: 14%;

  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .subtitulo__buscador{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    line-height: 150px;
  }
.img__carros__y__camionetas{
    width: 100%;
    height:auto;

}

.subtitulo__vehiculos{
    color: white;
}
.vehiculos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.descripcion__del__vehiculo{
    width: 30%;
    margin: 20px 20px 0;
    background:$color__cards;
    border-radius: 7px;

}

.conetendor__imagen__vehiculo{
    height: 350px;
}
.imagen__del__vehiculo{
    width: 100%;
    border-radius: 7px;
    height: 290px;
}

.datos__del__vehiculo{
    width: 90%;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 10px;
}

.nombre__del__vehiculo{
    color: white;
    font-size: 22px;
}
.motor{
    display: flex;
    justify-content: space-between;
}
.motor__del__vehiculo{
    color: wheat;

}

.kilometraje__y__año{
    width: 80%;
    display: flex;
    justify-content: space-between;
  
}


.kilometros,.modelo__del__vehiculo,.placas__del__vehiculo{
    color: wheat;
    padding: 10px;
}

.precio__del__vehiculo{
    color: white;
}

.enlace__whatsapp{
    display: inline-block;
    text-decoration: 0;
    background: #000;
    color: white;
    padding: 12px;
    border-radius: 50px;
    margin: 10px 0 15px 0;
    width: 250px;
}

.enlace__whatsapp:hover{
 color: white;
 opacity: .7;
}
.fa-whatsapp{
    font-size: 25px;
}

.mas__detalles{
    display: inline-block;
    text-decoration: 0;
    color: white;
    padding: 12px;
    margin: 0 0 15px 0;
}

.mas__detalles:hover{
    color: $color__gris;
}

.no__resultado{
width: 100%;
}

.imagen__no__resultados{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.subtitulo__sin__resultados{
    text-align: center;
    color: white;
}


@media screen and (max-width:1200px){
    .contendor__de__vehiculos{
        margin-top: -120px;
    }
    .descripcion__del__vehiculo{
        width: 27%;
    }

    .subtitulo__vehiculos{
        text-align: center;
    }
    .kilometraje__y__año{
        font-size: 13px;
        width: 100%;

    }
    .enlace__whatsapp{
        font-size: 13px;
        width: 200px;
    }
}

@media screen and (max-width:1000px) {
  .hero__textos__carros__y__camionetas{
  margin-top: -25rem;
  }  
}

@media screen and (max-width:900px) {
    .contenedor__del__buscador{
        margin-top: -15rem;
    }
    .buscador{
        width: 100%;
    }
    .contendor__de__vehiculos{
        margin-top: -120px;
    }
    .descripcion__del__vehiculo{
        width: 43%;
    } 
    .subtitulo__vehiculos{
        text-align: center;
    }
    .enlace__whatsapp{
        font-size: 13px;
        width: 200px;
    }
    .kilometraje__y__año{
        font-size: 13px;
        width: 100%;

    }
    .kilometros,.modelo__del__vehiculo,.placas__del__vehiculo{
        font-size: 13px;
    }
}

@media screen and (max-width:700px) {
    .contenedor__del__buscador{
          margin-top: -20rem;
      }
    
}

@media  screen and (max-width:600px){
    .buscador{
        width: 100%;
    }
.descripcion__del__vehiculo{
    width: 90%;
}
.subtitulo__vehiculos{
    text-align: center;
}
.hero__textos__carros__y__camionetas{
    margin-top: -15rem;
}
.enlace__vender__vehiculo{
    display: none;
}
.title__carros__y__comionetas{
    font-size: 1.5rem;
    
}
.title--active__carros__y__camionetas{
font-size: 2rem;
}
}

@media screen and (max-width:400px) {
    .contenedor__del__buscador{
        margin-top: -30rem;
    }
  
    .title__carros__y__comionetas{
        font-size: 1rem;
        
    }
    .title--active__carros__y__camionetas{
    font-size: 1.5rem;
    } 
    .subtitulo__buscador{
        font-size: 1.2rem;
    } 
    .buscador{
        width: 100%;
    }
}