.contenedor__compra{
    margin-top: -600px;
}

.titulo__compra{
 text-align: center;
 color: white;
 line-height: 100px;
}

.enlace__proceder__pago{
    display: inline-block;
    text-decoration: 0;
    width: 300px;
    padding: 13px;
    color: white;
    background: $color__verde;
    text-align: center;
}

.enlace__proceder__pago:hover{
 background:$color__fondo;
 border:solid 2px $color__verde;
 color:white;
}

.texto__compra{
  color: white;
  font-size:21px
}
.nombre__producto{
    font-size: 15px;
}
.boton__eliminar__servicio{
    text-decoration: 0;
    color: yellow;
    font-size: 25px;
}

.boton__eliminar__servicio:hover{
 color: yellow;
}

.contenedor__saldo{
    width: 100%;
    text-align:right;
    
}

.total__servicio{
    color: white;
}


.modal-title{
  color: white;
}

.no__eliminar{
  background:$color__verde;
}

.eliminar{
  background:$color__danger;
}

