.contenedor__compra__completada{
    margin-top: -600px;
}


.titulo__finalizar__compra{
text-align: center;
color: $color__gris;
font-size: $tamaño__fuente__subtitulo;
}

.formulario__completar__compra{
  background:$color__dark;
}

.span__finalizar__compra{
color: $color__verde;
}

.parrafo__finalizar__compra{
color:$color__gris;
font-size: $tamaño__parrafos;
width: 60%;
margin: auto;
line-height: $line__heigth__parrafos;
}

.fa-stopwatch-20{
    color: $color__gris;
    font-size: 35px;
}

.parrafo__hora ,.label__finalizar__compra{
  color:$color__gris;

}
.formulario__completar__compra{
    width: 60%;
    margin: auto;
}

@media screen and (max-width:700px) {
  .formulario__completar__compra{
    width: 90%;
  }
}