.contenedor__cards__dashboard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   flex-wrap: wrap;
}

.titulo__dashboard{
color:$color__gris;
font-size: $tamaño__fuente__subtitulo;
}


.btn__recargar{
  display: inline-block;
  outline: 0;
  border: 0;
  width: 38px;
  height: 38px;
  border-radius:50%;
  margin-right: 20px;
  background:$color__menu__dashboard;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: -5px;
  line-height:35px;
  font-size: 20px;
}
.cards__dashboard{
    margin: 50px 0 0 0;
    width: 23%;
    height: 120px;
    border-top:solid 6px $color__verde;
    border-radius: 7px;
    background:$color__menu__dashboard;
    text-decoration: 0;
}

.cards__dashboard > div{
  margin: 15px 0 0 0;
}
.item__titulo__cards{
    text-align: center;
    font-size: 18px;
    color:$color__gris;
    font-weight: bold;
}

.item__total{
text-align: center;
color: white;
}

.item__disponible{
display: block;
text-align: center;
font-size: 12px;
color: white;
line-height: 1px;
}

.nuevo__servicio{
text-decoration: 0;
color: $color__gris;

}

.nueva__notificacion{
    display: block; 
    height: 30px; 
    width: 30px;  
     border-radius: 30px; 
     background-color:$color__verde; 
     color:black; 
     text-align: center;
    line-height: 30px;
    font-weight: bolder;
    margin: auto;
    
}

.enlace__notificaciones{
    text-decoration: 0;
    font-size: 25px;
    color: white;
    display: inline-block;
    
}

.enlace__notificaciones:hover{
    color: white;
}

.numero__notificaciones{
display: inline-block;
 background:$color__danger;
 font-size: 16px;
 border-radius: 50px;
width: 20px;
height: 20px;
text-align: center;
position: relative;
top: -10px;
left: -10px;
}

.titulo__notificaciones{
color: white;
text-align: center;
}


.modal__notificaciones{
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 75%;
    top: 70px;
    width: 25%;
    height: 100%; 

  }
  

  #modal__content__notificaciones{
    background-color:$color__dark;
    padding: 20px;
    width: 100%; 
    height:auto;
    border-radius: 10px;
  }
  
 
  .close {
    color: #aaa;
    float:left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .enlaces__ver__notificacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: 0;
    color: white;
   
   
  }
  .enlaces__ver__notificacion:hover{
  background:$color__menu__dashboard;
  border-radius: 7px;
  color: white;

  }

.datos{
  margin: 15px 0 0 0;
}

  .fecha__notificacion{
    font-size: 12px;
    color:$color__gris;
  }
  .enlace__mas__notificaciones{
    text-decoration: 0;
    color: white;
    width: 270px;
  }
  .enlace__mas__notificaciones:hover{
    color:$color__verde;
    text-decoration:underline;
  }

  .enlace__conectarme{
    text-decoration: 0;
    width:280px;
    padding: 12px;
    display: inline-block;
    background: $color__verde;
    text-align: center;
    color: white;
    margin: 100px 0 0 0;
    border-radius: 12px;
  }

  .enlace__conectarme:hover{
    color: white;
  }

  .modal__boostrap{
    background: #000;
  }

  .parrafo__modal__body{
    color: white;
  }

  .btn__conectarse{
    display: inline-block;
      width:$tamaño__btn;
      padding: 12px;
      color: white;
      background: $color__verde;
      text-align: center;
      border: 0;
      border-radius: 10px;
  
  }

  
  .desconectarse{
    margin: 150px 0 0 0;
    background: yellow;
    color: black;
    font-weight: bold;
  }
  
  .texto__en__linea{
    color: $color__verde;
    line-height: 60px;
  }

  .modal__recorrido {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

.contendido__modal__recorrido{
  background-color:$color__cards;
  margin: 15% auto; 
  padding: 20px;
  width: 50%; 
 display: flex;
 justify-content: center;
 align-items: center;
}

.imagen__celebracion{
  width: 60%;
  margin-bottom: 70px;
 
}


.subtitulo__estado__recorrido{
  color: white;
}

.parrafo__recorrido{
  color: white;
  font-size: $tamaño__parrafos;
}

.btn__dejar__opinion{
      display: inline-block;
      text-decoration: 0;
      width:$tamaño__btn;
      padding: 12px;
      color: white;
      background: $color__verde;
      text-align: center;
      border: 0;
      border-radius: 10px;
  
}
.btn__dejar__opinion:hover{
  color: white;
}

.card__perfil__sin__editar{
  height: 200px;
  display: flex;
  align-items: center;
  background:$color__menu__dashboard;
  border-radius: 7px;
  border: solid 0.5px white;
  margin: 20px auto 30px auto;
  position: relative;
}

.cerrar__ventana{
  text-decoration: 0;
  display: inline-block;
  font-size: 18px;
  color: white;
  position:absolute;
  background:$color__fondo;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  line-height: 35px;
  right: 1%;
  top: 5%;
  font-weight: bolder;
}

.cerrar__ventana:hover{
  opacity: 0.5;
  color: white;
}

.avatar__de__configuracion{
width: 150px;
}

.subtitulo__perfil__sin__editar,.subtitulo__perfil__sin__editar{
  color: white;
}

.enlace__a__edicion{
  display: inline-block;
  text-decoration: 0;
  color: white;
  background:$color__accent;
  padding: 10px;
  border-radius: 7px;
  width: 20%;
  font-size: 17px;
}

.enlace__a__edicion:hover{
  opacity: 0.5;
  color: white;
}
@media screen and (max-width:1000px) {
  .menu__dashborad{
    width: 30%;
  }
  .modal__notificaciones{
    width: 100%;
   left:0;
   
  }
  .contendido__modal__recorrido{
    width: 90%;
  }
  
}


@media screen and(max-width:700px){
.cards__dashboard{
  width: 45%;
}
.enlace__a__edicion{
  width: 30%;
}

}


@media screen and(max-width:500px){
  .cards__dashboard{
    width: 80%;
    margin: 30px  auto 0 auto;
  }
  .imagen__celebracion{
    display: none;
  }

 
  .titulo__dashboard{
    font-size: 25px;
    line-height: 40px;
  }

 .card__perfil__sin__editar{
  height: 290px;
 }
  }
  

