
.logo__home{
  width: 90%;
}



.contenedor__enalces__menu__home{
  width: 100%;
  margin:0 0 0 10px;
}



.enlaces__varios{
display: flex;
align-items: center;
}

.enlace__perfil__usuario{
  text-decoration: 0;
  margin: -10px 10px  0 0;

}

.avatar__perfil{
width: 30px;
height: 30px;
border-radius: 50px;
border: solid 2px $color__verde;
margin-left: -10px;
}

.item__nombre{
width: 80%;
float: right;
height: 30px;
text-align: left;
margin-top: 6px;
margin-right: 5px;
}


.overlay {
    height: 100%;
    width:0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top:0;
    background:$color__menu__dashboard;
    overflow-x: hidden; 
    transition: 0.5s; 
  
}

  .overlay-content {
    position: relative;
    top: 13%; 
    width: 100%; 
    margin-top: 30px; 
  }

  
.fa-home,.fa-cogs,.fa-history,.fa-mail-bulk,.fa-comments,.fa-power-off,.usuario__menu,.fa-briefcase{
  background:$color__fondo;
  border-radius: 100px;
  padding: 10px;
  color: white;
}

.fa-home,.fa-cogs,.fa-history,.fa-mail-bulk,.fa-comments,.fa-power-off,.usuario__menu,.fa-briefcase:hover{
  color: white;
}

  .enlaces__menu__home{
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color:white;
    display: block; 
    transition: 0.3s; 
  }
  

  .enlaces__menu__home:hover{
    color: white;
  }
  .contenedor__enalces__menu__home:hover, .econtenedor__enalces__menu__home:focus {
    color:$color__gris;
    border-radius: 7px;
    background:$color__fondo;
    width: 90%;
  }
  

   .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
    color:$color__gris;
  }
  

  .contenedor__dashboard{
    margin-top: -700px;
  }



  .vista__nombre__usuario{
    color:$color__gris;
    font-size:25px;
  }

  .contenedor__del__buscador{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background: #AA076B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .buscador{
    width: 60%;
    margin: auto;
  }
  form.example input[type=text] {
    padding: 13px;
    font-size: 17px;
    float: left;
    width: 70%;
    background:$color__fondo;
    border: 0;
    outline: 0;
    border-radius:7px;
    color: white;
    background: #000;
    margin-left: 14%;

  }
  

  // form.example button {
  //   float: left;
  //   width: 10%;
  //   padding: 11.5px;
  //   background:$color__fondo;
  //   color: white;
  //   font-size: 17px;
  //   border: 1px solid grey;
  //   border-left: none; /* Prevent double borders */
  //   cursor: pointer;
  //   border: 0;
  //   border-top-right-radius: 7px;
  //   border-bottom-right-radius: 7px;
  // }
  
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .subtitulo__buscador{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    line-height: 150px;
  }
  .titulo__dashboard{
    font-size:$tamaño__fuente__subtitulo;
    color:$color__gris;
     margin-top: 100px;
    font-weight: bold;
  }

  


  

.datos__perfiles__conductor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

 
}

.tarjeta__informacion__del__conductor{
  width: 15rem;
  height: 400px;
  margin: 10px 3px 5px 3px;
}

.btn-primary{
  display: inline-block;
  margin-right: 25px;
}

.imagen__del__conductor{
  width: 100%;
  height: auto;
  margin-top: -30px;
  border-radius: 7px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.datos__del__conductor{
  color: black;
  margin-top: -90px;
  margin-left: 10px;
 }

 .nombre__perfil__conductor__card{
  font-size: 18px;
  color:white;
  text-align: center;
 }
 
 .estatus__del__conductor{
  line-height: 10px;
  text-align: center;
  color: white;
 }
.no__conductores__en__linea{
  background: #000;
  height: 200px;
}



@media screen and (max-width:900px) {
  .tarjeta__informacion__del__conductor{
    width: 12rem;
    margin-top: 60px;
  }
  .btn-primary{
    width: 90%;
  }
  
}

@media screen and (max-width:700px) {

  .subtitulo__buscador{
    font-size: 25px;
  }
.buscador{
  width: 80%;
}

.tarjeta__informacion__del__conductor{
  width: 17rem;
  height: 30rem;
}

 
  
}
@media screen and (max-width:617px){
  .tarjeta__informacion__del__conductor{
    width: 15rem;
    height: 25rem;
  }
  
}

@media screen and (max-width:600px){
  .tarjeta__informacion__del__conductor{
    width: 15rem;
    height: 25rem;
  }
  
}
@media screen and (max-width:533px){
  .tarjeta__informacion__del__conductor{
    width: 20rem;
    height: 25rem;
    margin-left: 5rem;
  }
  
}



@media screen and (max-width: 500px) {

  .subtitulo__buscador{
    font-size: 20px;
  }
.buscador{
  width: 100%;
  border-radius: 7px;
}
.buscador button{
  display: none;
}

form.example input[type=text] {
width: 80%;
border-radius: 7px;
margin-left: 40px;
}
.tarjeta__informacion__del__conductor{
  width: 20rem;
  margin: 10px 40px 0;
  height: 30rem;
}


}


  @media screen and (max-width: 400px) {
    .contenedor__dashboard{
      margin-top: -600px;
    }
   
    .tarjeta__informacion__del__conductor{
      width: 20rem;
      margin: 10px auto;
      height: 30rem;
    }

    .subtitulo__buscador{
      font-size: 15px;
    }
 
    form.example input[type=text] {
      width: 80%;
      border-radius: 7px;
      margin-left: 20px;
      }
  }


