.contenedor__cards__dashboard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   flex-wrap: wrap;
}

.titulo__dashboard{
text-align: center;
color: white;
line-height: 200px;
font-size: $tamaño__fuente__subtitulo;
}

.cards__dashboard{
    margin: 50px 0 0 0;
    width: 18%;
    height: 120px;
    border-top:solid 6px $color__verde;
    border-radius: 7px;
    background:$color__menu__dashboard;
    text-decoration: 0;
}

.cards__dashboard > div{
  margin: 15px 0 0 0;
}
.item__titulo__cards{
    text-align: center;
    font-size: 18px;
    color:$color__gris;
    font-weight: bold;
}

.item__total{
text-align: center;
color: white;
}

.item__disponible{
display: block;
text-align: center;
font-size: 12px;
color: white;
line-height: 1px;
}

.nuevo__servicio{
text-decoration: 0;
color: $color__gris;

}

.nueva__notificacion{
    display: block; 
    height: 30px; 
    width: 30px;  
     border-radius: 30px; 
     background-color:$color__verde; 
     color:black; 
     text-align: center;
    line-height: 30px;
    font-weight: bolder;
    margin: auto;
    
}

.enlace__notificaciones{
    text-decoration: 0;
    font-size: 25px;
    color: white;
    display: inline-block;
    
}

.enlace__notificaciones:hover{
    color: white;
}

.numero__notificaciones{
display: inline-block;
 background:$color__danger;
 font-size: 16px;
 border-radius: 50px;
width: 20px;
height: 20px;
text-align: center;
position: relative;
top: -10px;
left: -10px;
}

.titulo__notificaciones{
color: white;
text-align: center;
}


.modal__notificaciones{
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 58%;
    top: 50px;
    width: 25%;
    height: 100%; 

  }
  

  #modal__content__notificaciones{
    background-color:$color__dark;
    padding: 20px;
    width: 100%; 
    height:auto;
    border-radius: 10px;
  }
  
 
  .close {
    color: #aaa;
    float:left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .enlaces__ver__notificacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: 0;
    color: white;
   
   
  }
  .enlaces__ver__notificacion:hover{
  background:$color__menu__dashboard;
  border-radius: 7px;
  color: white;

  }

.datos{
  margin: 15px 0 0 0;
}

  .fecha__notificacion{
    font-size: 12px;
    color:$color__gris;
  }
  .enlace__mas__notificaciones{
    text-decoration: 0;
    color: white;
    width: 270px;
  }
  .enlace__mas__notificaciones:hover{
    color:$color__verde;
    text-decoration:underline;
  }

  .enlace__conectarme{
    text-decoration: 0;
    width: 300px;
    padding: 10px;
    display: inline-block;
    background: $color__verde;
    text-align: center;
    color: white;
    margin: 100px 0 0 0;
  }

  .enlace__conectarme:hover{
    color: white;
  }

  .modal__boostrap{
    background: #000;
  }

  .parrafo__modal__body{
    color: white;
  }

  .btn__conectarse{
    display: inline-block;
      width: 300px;
      padding: 13px;
      color: white;
      background: $color__verde;
      text-align: center;
      border: 0;
  
  }