.contenedor__detalles{
    margin-top: -600px;
}
.titulo__detalles{
  text-align: center;
  color: white;
}


.parrafo__detalles{
    color: $color__gris;
    text-align: center;
}
.contenido__detalles{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detalles{
    width: 35%;
    background:$color__menu__dashboard;
    margin: 50px 0 0 0;
    text-align: center;
    border-radius: 7px;
    border-top:6px solid $color__verde;
}
.text__descripcion{
    color: wheat;
}
.enlace__compra{
    display: inline-block;
    text-decoration: 0;
    width: 90%;
    margin: auto;
    background:$color__accent;
    border-radius: 50px;
    color:white;
    padding: 10px;
    margin: 0 0 10px 0;
    border: none;
    cursor: pointer;
    font-size:19px;
    

}

.enlace__compra:hover{
background: #000;
color: $color__accent;
transition: all 0.5s;
}

.precio__antes{
    color: $color__danger;
}

.precio__descuento{
    color: $color__verde;
}

.parrafo__info{
    font-size: 15px;
    color: $color__gris;
}

.titulo__descripcion{
text-align: left;
color: $color__gris;
}

.descripcion{
    width: 80%;
    margin: auto;

}

.parrafo__descripcion{
    font-size: 14px;
    color: white;
}



@media screen and (max-width:900px) {
  .detalles{
    width: 70%;
    margin: 60px auto 0 auto;
  }  
}