
.contenedor__detalles__usado{
    width: 100%;
    margin-top: 90px;
}

.contendor__imagenes{
    margin-top: 90px;
    width: 100%;
  margin: auto;

}


.carousel {
    margin-top: -90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .carousel-main {
    margin-right: 10px;
    width: 40%;
    display: inline-block;
    height: 450px;
    cursor: pointer;

  }

  .carousel-main img{
     width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: .2s linear;
    
  }
  .carousel-main img:hover{
    transform: scale(1.1);
  }
  .carousel-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50%;
    height:auto;
    border-radius: 10px;
  }
  
  .carousel-thumbnails img {
    border: 2px solid $color__gris;
    width: 19%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s linear;
  }
  
  .carousel-thumbnails img.selected {
    border: 2px solid $color__adhoc;
  }

  .carousel-thumbnails img:hover{
    transform: scale(1.1);
  }
  
  .modal__galeria {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.9); 
  }

  .contenedor__imagenes{
    width: 50%;
    height: 600px;
    border-radius: 10px;
    margin: auto;
    // display: inline-block;

  }
  
  .modal-content-galeria {
    width: 100%;
    height:100%;
    margin: 30px auto 0 auto;
    display: block;
    border: solid 2px $color__gris;
    border-radius: 10px;
    object-fit: cover;

  }
  
  .cerrar__modal__galeria {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .cerrar__modal__galeria:hover,
  .cerrar__modal__galeria:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
/* Estilos para los botones */
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size:35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: red;
  }
  
  .detalles__imagen{
    position: relative;
    width: 44%;
    text-align:left;
    color: white;
     margin: auto;
     top: 55px;
  }

  .current__imagen,.total__imagen{
    font-weight: bolder;
  }

  .tittle__imagen{
    display: inline-block;
  }
  /* Estilos para la imagen principal */
  .main-image {
    max-width: 100%;
    height: auto;
  }
  

.informacion__general__del__vehiculo{
    margin-top: -70px;
}

.detalles__principales{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detalles__vehiculo{
    width: 40%;
}

.nombre__del__vehiculo,.precio__del__vehiculo{
    color:white;
    font-size: 14px;
}

.referencia__del__vehiculo,.kilometros__del__vehiculo{
    color: $color__gris;
    font-size: 13px;
}

.caracteristicas__del__vehiculo__e__informacion__del__vendedor{
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: -50px;
   border-bottom: 1px gray solid;
   flex-wrap: wrap;
}

.caracteristicas{
    width: 49%;
}

.caracteristicas__de__vehiculo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info__caracteristicas{
 width: 33%;
 height: 80px;
 margin: 10px 0 0 0;
}

.texto__caracteristicas{
    color: white;
    font-size: 14px;
}

.iconos__caracteristicas{
color: $color__adhoc;
}
.info__caracteristicas i{
 font-size: 18px;
 color:$color__adhoc;
}

.respuesta__caracteristicas{
    color: $color__gris;
    margin-left: 25px;
    margin-top: -10px;
}

.telefono__del__vendedor{
    color: white;
    font-size: 15px;
    width: 200px;
}

.telefono{
    color: white;  
}

.telefono i{
    color: white;
    font-size: 25px;
}

.email__vendedor{
display: inline-block;
text-decoration: 0;
color: white;
}

.email__vendedor i{
  color: white;
  font-size: 22px;
}

.email__vendedor:hover{
  color: white;
}

.enlace__whatsapp__detalles{
  text-decoration: 0;
  background: #000;
  text-align: center;
  color: $color__adhoc;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  display: inline-block;
  transition: ease-in-out .3s;
}

.enlace__whatsapp__detalles:hover{
  background:$color__adhoc;
color:black;
font-weight: 600;
}
.contenedor__imagen__no__disponible{
    width: 30%;
     height: 30%;
  
}

.foto__vendedor{
    width: 70%;
    height: auto;
    border-radius: 10px;

}
.vendedor__dice,.subtitulo__informacion{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 150px;
}

.contenido__informacion__del__vehiculo{
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
}

.que__dice__el__vendedor{
    color: white;
    line-height: 25px;
}

.ficha__tecnica__del__vehiculo{
    margin-top: 20px;
}

.acordion__body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;

}

.acordion__body div{
    width: 40%;
    height: auto;
}

.contenedor__acordeon__recomendaciones{
margin-top: -23rem;

}
.acordion__recomendacion{
    border-left: solid 4px yellow; 
}

.fa-exclamation-triangle{
    font-size: 25px;
    background:$color__accent;
    padding: 10px;
    border-radius: 50px;
    color: black;
    text-align: center;
}


.texto__precaucion{
    line-height: 20px;
    color: white;
}
.accordion-body{
    background:$color__fondo__footer;
}

.contenedor__comentarios{
 margin-top: -30px;

}
.subtitulo__comentarios{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: -40px;
}

.parrafo__comenatrios{
    text-align: center;
    color: $color__gris;
}

.contenido__comentarios{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    align-content: center;
    flex-wrap: wrap;
    
}

.comentario{
width: 60%;
  overflow-y: scroll;
  height: 30rem;
}
.comentario::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 8px;
}

.comentario::-webkit-scrollbar:horizontal{
    height: 5px;
   
}

.comentario::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}

.comentario::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    border-radius: 20px;
}


.comentario::-webkit-scrollbar-track {
    border-radius: 10px; 
     
}

.contenido__texto{
    width: 100%;
    margin: 5px auto auto auto;
    height: auto;
    
}

.chat {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    overflow: auto;
    min-height: 100px;
    position: relative;
  }
  
  .mensaje {
    position: relative;
    padding-left: 20px;
    // margin-bottom: 10px;
    width: auto;
  }
  
  .mensaje img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 5px;
  }

  
  
  .contenido {
    border-radius: 10px;
    padding: 5px 10px;
    color:white;
    width: auto;
    font-size: 14px;
  }

.fecha__publicacion__comentario{
    font-size: 10px;
    color: $color__gris;
    margin-left: 20px;
    margin-top: -15px;
}
 
.texto__sin__comentarios{
    text-align: center;
    font-size: 13px;
}
.fa-comment-alt{
    text-align: center;
    font-size: 30px;
}

.caja-texto {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    width:90%;
    border-radius: 10px;
    margin: auto;
    min-height: 5px;
    height: auto;
  background:$color__fondo__blog;
  }
  
  .caja-texto textarea {
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
    resize: none;
    height:auto;
    min-height: 5px;
    color: white;
    overflow: hidden;
  background:$color__fondo__blog;
  border-bottom: solid 2px $color__dark;
  }
  
  .caja-texto button {
    background:$color__fondo__blog;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    width: 40px;
    height: 30px;
  }

  .caja-texto button:hover{
    background:$color__dark;
    width: 40px;
    height: 30px;
    border-radius: 2px;
  }


.anuncio{
  width: 38%;
  height: auto;
  margin-top: 40px;
}

.contenedor__imagen__vender{
    position: relative;
    display: inline-block;
}

.contenedor__imagen__vender::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
  }

.contenedor__imagen__vender img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: -20px;
 
}
.subtitulo__vender__carro{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.parrafo__vender__carro{
    position: relative;
    color:$color__verde;
    font-size:15px;
}

.enlace__anuncio__registrarme{
  display: inline-block;
  text-decoration: 0;
  color: black;
  background:$color__adhoc;
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
}
.enlace__anuncio__registrarme:hover{
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    color: black;
}

@media screen and (max-width:900px) {
   .carousel-main{
    width: 100%;
   } 
   .carousel-thumbnails{
    width: 100%;
 
   }
   .carousel-thumbnails img{
    width: 10%;
    height: 80px;
    margin-top: 5px;
   }
   .modal-content-galeria{
    width: 90%;
   }
   .contenedor__imagenes{
    width: 80%;
    margin-top: -30px;
   }
}

@media screen and (max-width:815px){
.caracteristicas{
    width: 90%;
    margin-top: -100px;
}
}

@media screen and (max-width:768px){
    popup-image img{
        width:90%
    }
}

@media screen and (max-width:700px){
.contendor__imagenes{
    width: 100%;
}
.image{
    width: 250px;
}
.comentario,.anuncio{
    width: 100%;
}
.anuncio{
    margin-top: -200px;
}
}


@media screen and (max-width:539px){
.image{
    width: 100%;
}
.caracteristicas__del__vehiculo__e__informacion__del__vendedor{
    margin-top: 30px;
}
.carousel-main{
  height: 300px;
}
.carousel-thumbnails img{
  height: 45px;
}
.vendedor__dice{
  margin-top: 50px;
}
.texto__precaucion{
  font-size: 14px;
}
} 

@media screen and (max-width:500px) {
  .info__caracteristicas{
    width: 50%;
  }
  .respuesta__caracteristicas{
    margin-left: 5px;
  }
}

@media screen and (max-width:400px) {
    .caracteristicas__del__vehiculo__e__informacion__del__vendedor{
        margin-top: -30px;
    }
   
   .nombre__del__vehiculo,.precio__del__vehiculo{
    font-size: 18px;
   }
   .texto__caracteristicas,.respuesta__caracteristicas{
   
   font-size: 13px;
   }
}
