
.editarPerfil{
    margin-top: -600px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background:$color__menu__dashboard;
    border-radius: 7px
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius:100%;
    margin: 0 auto 0 auto;
    background: #000;
}
.imagen__avatar{
  width: 150px;
  height: 150px;
  border-radius:100%;
}

.custom-input-file {
    background-color: #941B80;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-left: -80px;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 300px;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
//    right: -200px;
   top: -1000px;
  }


.textos__label{
    color: white;
}
.linea__editar__perfil{
   border-bottom: 1px;
    width: 100%;
    color: white;
    grid-column: 1 / 3;  
}
.actualizar{
    padding: 4px;
}
.text__area__mensaje{
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    border-radius: 4px;
}
.contenedor__capturara__datos{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 4px;
}
.block{
    grid-column: 1 / 3;  
}

.label{
 color:white;
}

