.contenedor__como__funciona{
    height: auto;
}

.parrafo__como__funciona{
    width:60%;
    margin: auto;
    color: white;
    font-size:$tamaño__parrafos;
    line-height: 20px;
}

.enlaces__de__ayuda{
 color:$color__verde;

}

.subtitulo__como__funciona{
    text-align: center;
    font-size: $tamaño__fuente__subtitulo;
    color: white;
}

.texto__como__funciona{
color: white;
font-size: 20px;
}

.contenido__como__funciona{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.como__funciona{
    background:$color__cards;
    width: 20%;
    height:230px;
    padding: 20px;
    position: relative;
    border: solid 2px $color__verde;
    margin: 50px  auto 0  auto;
}

.conductores{
    margin: 200px 0 0  0;
}

.como__funciona span{
    display: inline-block;
    position: absolute;
    top: 95%;
    left:45%;
    background:$color__verde;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
}

.parrafo__item__funciona{
    text-align: center;
    color: $color__accent;
    font-size: $tamaño__parrafos;
    font-weight: bold;
    text-transform: uppercase;
}

.item__parrafo{
    text-align: center;
    color: $color__gris;
}


@media screen and (max-width:1140px){
 .como__funciona{
    width: 30%;
   
 }
}

@media screen and (max-width:770px){
    .como__funciona{
       width: 35%;
      
    }
   }

   @media screen and (max-width:600px){
    .como__funciona{
       width: 45%;
      
    }
   }