.contenedor__datos__historial{
    margin-top: -600px;
  
}

.parrafo__historial{
    color:$color__gris;
    font-size: $tamaño__parrafos;
    width: 80%;
    line-height: $line__heigth__parrafos;
}
.contenido__historial{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background:$color__menu__dashboard;
    border-radius: 10px;
    margin: 30px auto 0 auto;
}

.texto{
    color:white;
    font-size: 22px;
}

.item__datos__servicio{
    color:$color__gris;
 
}

.foto__historial{
    border-radius: 50%;
    box-shadow: 0 0 0 5px #FFF;
    margin-left: 20px;
    width: 30%;
    height: 120px;
}

.datos__de__historial{
    width: 32%;
    
}

.enlace__eliminar__historial{
    margin: 20px 0 0 0;
    text-decoration: 0;
    display: inline-block;
    color:white;
    padding: 12px;
    width: $tamaño__btn;
    text-align: center;
    border-radius: 7px;
    background:$color__danger;
    font-size: 20px;

}

.enlace__eliminar__historial:hover{
opacity: 0.5;
color: white;
}

.parrafo__info{
    color: $color__gris;
}

.fa-info-circle{
    color: yellow;
    font-size: 25px;
}

.historial{
    margin: -30px  0 0 0;
}

@media screen and (max-width:1250px) {
    .contenedor__datos__historial{
        width: 90%;
    }
    .foto__historial{
        width: 40%;
    }
}

@media screen and (max-width:900px) {
    .contenedor__datos__historial{
        margin-top: -550px;
    }
    
    .parrafo__historial{
        width: 90%;
        margin:20px auto auto 10px;
    }
      .datos__de__historial{
        width: 60%;
        margin-top: 10px;
        margin: auto;
      }

   
      
    .foto__historial{
        margin: 20px 30% 10px;
         width:30%;
         height: 150px;
       } 
       .datos__del__perfil__historial{
        width: 55%;
        margin: auto;
       } 
     
}

@media screen and (max-width:700px) {
    .datos__del__perfil__historial{
       margin: auto;
       width: 80%;
    }
    .foto__historial{
    width: 30%;
    height: 120px;
   }
    
}

@media screen and (max-width:500px) {
   .foto__historial{
    width: 50%;
    height: 120px;
   } 
}