.contenedor__datos__historial{
    margin-top: -600px;
  
}
.titulo__historial{
 color: white;
 text-align: center;

 
}
.parrafo__historial{
    color:$color__gris;
    width: 50%;  
    margin: 0  auto 0 auto;
    
}
.contenido__historial{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background:$color__menu__dashboard;
    border-radius: 10px;
    margin: 30px auto 0 auto;
}

.texto{
    color:white;
    font-size: 22px;
}

.item__datos__servicio{
    color:$color__gris;
 
}

.foto__historial{
    width: 50%;
    border: solid 4px $color__verde;
}

.datos__de__historial{
    width: 32%;
    
}

.enlace__eliminar__historial{
    margin: 20px 0 0 0;
    text-decoration: 0;
    display: inline-block;
    color:white;
    padding: 12px;
    width: $tamaño__btn;
    text-align: center;
    border-radius: 7px;
    background:$color__danger;
    font-size: 20px;

}

.enlace__eliminar__historial:hover{
opacity: 0.5;
color: white;
}

.parrafo__info{
    color: $color__gris;
}

.fa-info-circle{
    color: yellow;
    font-size: 25px;
}

.historial{
    margin: -30px  0 0 0;
}

@media screen and (max-width:1250px) {
    .contenedor__datos__historial{
        width: 90%;
    }
}

@media screen and (max-width:900px) {
    .contenedor__datos__historial{
        margin-top: -550px;
    }
      .datos__de__historial{
        width: 90%;
        margin-top: 10px;
      }

      .foto__historial{
       margin: auto;
        width:30%;
      }
      
      
     
}

@media screen and (max-width:700px) {
    .foto__historial{
        margin: auto;
         width:40%;
       }
}