.titulo__historial{
 color: white;
 position:absolute;
 top: 200px;
 text-align: center;
 left: 50%;
 
}
.parrafo__historial{
    color:$color__gris;
    position:absolute;
    top: 250px; 
    width: 500px;  
    left: 40%;
}
.contenedor__datos__historial{
    margin-top: -400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:$color__menu__dashboard;
    border-radius: 7px;
}

.texto{
    color:white;
    font-size: 22px;
}

.item__datos__servicio{
    color:$color__gris;
    font-size: 15px;
}

.item__datos__servicio span{
color:$color__verde;
font-size: 19px;
}

.datos__de__historial{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enlace__eliminar__historial{
    margin: 20px 0 0 0;
    text-decoration: 0;
    display: inline-block;
    color:white;
    padding: 12px;
    width: 250px;
    text-align: center;
    border-radius: 7px;
    background:$color__danger;
    font-size: 20px;

}

.enlace__eliminar__historial:hover{
opacity: 0.5;
color: white;
}

.parrafo__info{
    color: $color__gris;
}

.fa-info-circle{
    color: yellow;
    font-size: 25px;
}