@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'variables';

:root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

:root {
    --screen-width: 100vw;
    --screen-height: 100vh;
    
    --container-bg-1: #ddc0c3;
    --container-bg-2: #c198c8;
    --container-bg-size: 4rem;
    
    --nav-text-color: #ffffff;
    --nav-height: 50px;
    --nav-width: 320px;
    --nav-count: 10;
  }
 

  .beta__home{
   margin: -30px 0 0 80px;
 
  }
 
  .btn-open {
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .btn-open:active, .btn-open:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3) inset;
    transform: translateY(7px);
  }
  
  .nav-opener {
    display: none;
  }
  
  .nav-opener:checked + .nav {
    width: var(--screen-width);
    height: var(--screen-height);
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  
  .nav {
    z-index: 1;
    width: 0;
    height: 100%;
    display: grid;
    grid-template-rows: var(--nav-height) 30% auto;
    grid-template-columns: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-out, width 0ms 300ms, height 0ms 300ms;
  }
  
  .nav-header {
    background-color:$color__fondo__footer;
    display: flex;
    justify-content: space-between;
  }
  
 .fa-user-astronaut,.fa-sign-in-alt,.fa-house-user{
    font-size: 22px;
    background:$color__fondo;
    border-radius: 50px;
    padding: 7px;
 }

  .nav-links {
    background-color:$color__fondo__footer;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(var(--nav-count), var(--nav-height));
    grid-template-columns: 100%;
    overflow: auto;
    list-style-type: none;
  }

  
  .nav-link {
      color: var(--nav-text-color);
      display: flex;
      align-items: center;
      user-select: none;
      transition: all 150ms ease-out;
      margin: 0 0 0 20px;
    }

.nav-link a{
     text-decoration: 0;
     color:$color__gris;
     font-size: 20px;
     margin: 0 0 0 5px;
    }
    

  
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin:  0 0 0 5px;
    width: 95%;
  }
  
  .nav-link:focus, .nav-link:active {
    background-color: rgba(0, 0, 0, 0.30);
  }
  
  .nav-images {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    position: relative;
  }
  
  .nav-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
  }
  
 
  .nav-title {
    color: var(--nav-text-color);
    font-weight: bold;
    height: var(--nav-height);
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .btn-nav {
    text-align: center;
    background-color: #ef2424;
    width: 40px;
  }
  
  .btn-nav:active, .btn-nav:focus {
    background-color: #ef2424;
    opacity: 0.8;
  }
  
  .btn-nav svg {
    display: block;
  }
  
  .btn-nav svg path {
    stroke: #ffffff;
    fill: #ffffff;
  }
  
  .nav-link-opener {
    display: none;
  }
  
  .image-1 {
    background-image:
    url(../img/imagen__menu.jpg),
      linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
  }
  
 .texto__nav__images{
    font-size: 35px;
    margin: 20% auto 0 auto;
    width: 90%;
 }

  .precio__hora{
  color: $color__accent;
  }
  
 

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

.container::-webkit-scrollbar{
    width: 10px;
}

.container::-webkit-scrollbar-thumb{
    background:$color__dark;
    border-radius: 7px;
}

.container--modifier{
    width: 60%;
}

.hero{
    width: 100%;
    min-height: 100vh;
  
}

.nav__hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}


.logo__name{
    font-size: 24px;
}

.logo__accent{
    width: 80%;
    height: 30px;
    position: relative;
}

.texto__beta{
    font-size: 12px;
    color: $color__gris;
    position: absolute;
    left: 12.7%;
  }
.point{
    color:$color__accent;
}

.hero__main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    background-image: url(../img/fondo__banner.webp);
    background-repeat: no-repeat;
    background-size:cover;
  
    
}


.hero__textos{
    // width: 90%;
        width:90%;
       margin: auto;

}

.title{
    font-size: 56px;
    font-weight: bold;
    color: $color__accent;
}


.copy{
    font-size: 24px;
    margin: 15px 0;
    width: 600px;
    color:white;
    line-height: 40px;
}

.copy__active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background:$color__accent ;
    text-decoration: none;
    color:$color__negro;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}

.cta:hover{
    background: #000;
    color: white;
    transition: ease-in-out 0.5s;
}

/* services */


.subtitle{
    font-size: 42px;
    color: white;
}
.solicitud{
    color: white;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
    color: white;
}

.copy__section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}

.card__img{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cards__text{
    text-align: left;
    width: 90%;
    margin:0 auto;
}

.card__list{
    color:$color__verde;
    font-weight: 700;
    margin: 25px 0 12px ;
    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: var(--gray2);
    margin-bottom: 16px;
}

.card__button{
    display: block;
    background:$color__accent;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card__button:hover{
    background: #000;
    color: white;
    transition: ease-in-out 0.5s;;

}

.card__date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background__title{
    font-size: 24px;
    margin-bottom: 4px;
}

.background__copy{
    width: 400px;
}

.testimony{
    background:$color__fondo;
}

.testimony-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.testimony__card{
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.testimony__img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}

.testimony__copy{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background:$color__verde;
    color:black;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}

.testimony__copy--modifier{
    background: none;
    box-shadow: none;
}

.testimony__logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}

.testimony__name{
    font-size: 24px;
    line-height:28px;
}

.testimony__position{
    color:black;
}

.testimony__text{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    color: #fff;
}



.testimony__history{
    font-size: 21px;
    font-weight: 300;
}


.testimony__info{
    width: 70%;
}

.logo--picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}

/* check */

.check{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.check__item{

    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black2);
    
}

.bx-check{
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
}

.check__number{
    font-weight: 700;
    color: white;
}

.check__copy{
    font-weight: 300;
    color: white;
}


.container__footer{
	width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:$color__fondo__footer;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.logo__footer{
width: 100px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links{
    width: 100%;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}



/*responsive*/



// @media(max-width: 574px){
//   .footer-col{
//     width: 100%;
// }
// }


@media screen and (max-width:900px){
  
    
    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .background{
        width: 52%;
    }

    .card{
        width: 42%;
    }

    .testimony-container{
        justify-content: space-evenly;
    }

    .testimony__card{
        width: 45%;
    }

    .check__item{
        width: 45%;
        margin-bottom: 35px;
    }


    .socialmedia__icon{
        font-size: 18px;
    }

    .socialmedia__legend{
        font-size: 18px;
    }
}

@media screen and (max-width:700px){
    
    main .container,
    footer .container{
        padding: 60px 0;
    }

    // .nav__container{
    //     flex-direction: column;
    //     justify-content: space-evenly;
    // }

    .texto__beta{
        display: none;
    }
    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .hero__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    


    .title{
        font-size: 35px;
    }

    .copy{
        width: 80%;
        font-size: 20px;
        line-height: 30px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .copy__section{
        font-size: 20px;
        text-align: center;
    }

    .services .card{
        width: 80%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 35px;
    }

    .card__button{
        width: 100%;
    }

    .background{
        width: 65%;
        margin-bottom: 40px;
    }

    .background__copy {
        // display: block;
        width: 70%;
        
    }

    .testimony__card{
        width: 65%;
    }

    .testimony__name{
        font-size: 20px;
    }

    .container--modifier{
        width: 80%;
    }

    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
    .footer-col{
        width: 60%;
        margin-bottom: 30px;
    }
}


@media (min-width: 768px) {
    .nav {
      grid-template-rows: var(--nav-height) auto;
      grid-template-columns: var(--nav-width) auto;
    }
    
    .nav-header {
      grid-column-start: span 2;
    }
  }
  

@media screen and (max-width:500px){
   

    .services .card{
        width: 95%;
    }

    .card{
        width: 95%;
    }
    

    .background{
        width: 95%;
    }

    
    .testimony__card{
        width: 95%;
    }

    .testimony__history{
        font-size: 20px;
    }

    .container--modifier{
        width: 90%;
    }


    .check__item{
        width: 100%;
        border: none;
        padding: none;
        justify-content: space-between;
        
    }

    .check__copy{
        width: 300px;
        margin-right: 200px;
    }
  
    
}