
@import 'variables';

:root{

    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

:root {
    --screen-width: 100vw;
    --screen-height: 100vh;
    
    --container-bg-1: #ddc0c3;
    --container-bg-2: #c198c8;
    --container-bg-size: 4rem;
    
    --nav-text-color: #ffffff;
    --nav-height: 50px;
    --nav-width: 320px;
    --nav-count: 10;
  }
  .oferta__de__lanzamiento{
    background: $color__adhoc;
    height: 80px;
  }

.titulo__promo__de__lanzamiento{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
}
 .enlace__vender__vehiculo{
display: inline-block;
 text-decoration: 0;
 color: white;
 margin-right: 80px;
 margin-top: 15px;
 }

 .enlace__vender__vehiculo:hover{
    border-bottom: 4px solid black;
    color: $color__gris;
 }
  .btn-open {
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .btn-open:active, .btn-open:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3) inset;
    transform: translateY(7px);
  }
  
  .nav-opener {
    display: none;
  }
  
  .nav-opener:checked + .navegacion {
    width: var(--screen-width);
    height: var(--screen-height);
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  
  .navegacion {
    z-index: 1;
    width: 0;
    height: 100%;
    display: grid;
    grid-template-rows: var(--nav-height) 30% auto;
    grid-template-columns: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-out, width 0ms 300ms, height 0ms 300ms;
  }
  
  .offcanvas-header,.offcanvas-body{
    background:$color__fondo__footer;
  }
  .nav-header {
    background-color:$color__fondo__footer;
    display: flex;
    justify-content: space-between;
  }
  
 .fa-user-astronaut,.fa-sign-in-alt,.fa-house-user,.fa-coins,.fa-headset{
    font-size: 22px;
    background:$color__fondo;
    border-radius: 50px;
    padding: 7px;
 }

  .nav-links {
    background-color:$color__fondo__footer;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(var(--nav-count), var(--nav-height));
    grid-template-columns: 100%;
    overflow: auto;
    list-style-type: none;
  }

  
  .nav-link {
      color: var(--nav-text-color);
      display: flex;
      align-items: center;
      user-select: none;
      transition: all 150ms ease-out;
      margin: 0 0 0 20px;
    }

.nav-link a{
     text-decoration: 0;
     color:$color__gris;
     font-size: 18px;
     margin: 0 0 0 5px;
    }
    

  
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin:  0 0 0 5px;
    width: 80%;
  }
  
  .nav-link:focus, .nav-link:active {
    background-color: rgba(0, 0, 0, 0.30);
  }
  
  .nav-images {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    position: relative;
  }
  
  .nav-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
  }
  
 
  .nav-title {
    color: var(--nav-text-color);
    font-weight: bold;
    height: var(--nav-height);
    margin-left: 20px;
    display: flex;
    align-items: center;
    
  }
  
  .btn-nav {
    text-align: center;
    background-color: #ef2424;
  }
  
  .btn-nav:active, .btn-nav:focus {
    background-color: #ef2424;
    opacity: 0.8;
  }
  
  .btn-nav svg {
    display: block;
  }
  
  .btn-nav svg path {
    stroke: #ffffff;
    fill: #ffffff;
  }
  
  .nav-link-opener {
    display: none;
  }
  

  
 .texto__nav__images{
    font-size: 35px;
    margin: 45% auto 0 auto;
    width: 90%;
    color:black;
 }


 

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

.btn__cuenta{
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
    position: relative;
   top: 2px;
   right: 20px;
   background:$color__accent;
   border: 0;
   outline: 0;
   color: white;
   font-weight: bold;
   border-radius: 50px;
}

.btn__cuenta:hover{
    background: #000;
    transition: all 0.5s;
}


.modal__registro__de__cuenta{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

.titulo__crear__cuenta{
    font-size:22px;
    color: white;
}

  .modal__registros{
    background-color:$color__fondo__footer;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 7px;
    width: 50%; 
    position: relative;
    height:200px;
  }
  
  .contenedor__btn__registros{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    
  }

.btn__cuenta__registro{
    display: inline-block;
    text-decoration: 0;
    color: white;
    padding: 12px;
     background: $color__accent;
     margin-right: 30px;
     width: 190px;
     border-radius: 7px;
     font-weight: bold;
     margin: 10px 10px 0;
}



.btn__cuenta__registro:hover{
    background: #000;
    transition: all 0.5s;
}

  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: -10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
  }

.container::-webkit-scrollbar{
    width: 10px;
}

.container::-webkit-scrollbar-thumb{
    background:$color__dark;
    border-radius: 7px;
}

.container--modifier{
    width: 60%;
}

.hero{
    width: 100%;
    min-height: 100vh;
  
}

.nav__hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}



.logo__accent{
    width: 100%;
    height: 50px;
}


.point{
    color:$color__accent;
}


.hero__main{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    background-image: url(../img/fondo__banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  
    
}


.hero__textos{
    // width: 90%;
        width:90%;
       margin: auto;

}

.title{
    font-size: 50px;
    font-weight: bolder;
    color: $color__adhoc;
}


.copy{
    font-size: 24px;
    margin: 15px 0;
    width: 600px;
    color:white;
    line-height: 40px;
}

.copy__active{
    font-weight: 700;
}

.cta{
    padding: 10px 20px;
    display: inline-block;
    background:$color__accent;
    text-decoration: none;
    color:white;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 50px;
    font-size: $tamaño__parrafos;
}

.cta:hover{
    background: #000;
    color: white;
    transition: ease-in-out 0.5s;
}

/* services */
.servicios{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px;

}
.slider{
    width: 41%;
    height: 150px;
    margin: 20px 10px 0 10px;
    background:$color__fondo__footer;
    border-radius: 7px;
    display: flex;
}


.icono__conductor{
    height: auto;
    width: 220px;

}
.subtitulo__slider{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 50px 30px;
}




.slider__1:hover{
    background:#5f27cd;
    transition:  ease 0.7s;
  
}



.slider__3:hover{
    background:#341f97;
    transition:  ease 0.7s; 
   

}




.slider__6:hover{
    background:#6D214F;
    transition:  ease 0.7s;  


}

.slider__7:hover{
    background:#B33771;
    transition:  ease 0.7s; 
  

}

.slider__8:hover{
    background:#17c0eb;
    transition:  ease 0.7s;  
 

}
.slider__9:hover{
    background:#ED4C67;
    transition:  ease 0.7s;  
}

.slider__10:hover{
    background:#1289A7;
    transition:  ease 0.7s; 
   

}

.contenido__consejo__aleatorio{
    display: flex;
    width: 100%;
    height: 150px;
    background:$color__fondo__footer;
    border-radius: 10px;
   align-items: center;
   visibility: hidden;
 
}
.contenido__consejo{
    margin-left: 40px;
    width: 10%;
}
.aleatorio__2{
    margin-top: 20px;

}
.aleatorio__2{
    margin-top: -90px;

}
.aleatorio__3{
    margin-top: -150px;
}

.aleatorio__4{
    margin-top: -150px;
}
.aleatorio__5{
    margin-top: -180px;  
}

.aleatorio__6{
    margin-top: -100px;

}
.fa-lightbulb{
    font-size: 50px;
    color: $color__verde

}
.parrafo__consejo{
    color: white;
}


.imagen__vende__tu__carro{
    width: 90%;
}

.img__cargando__productos{
    margin: auto;
    width: 25%;
}

.subtitle{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.subtitulo{
    text-align: center;
}
.solicitud{
    color: white;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
    color: white;
}

.copy__section{
    color:white;
    font-size: 17px;
    line-height:$line__heigth__parrafos;
    margin-bottom: 60px;
}

.texto__copy{
    text-align: center;
}

.contenedor__funciones{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenido__funciones{
    width: 30%;
    height:150px;
    display: flex;
    font-weight: 400;

}
.parrafo__contenido__funciones{
color:$color__gris;
margin-left: 10px;
font-size: 18px;
}


.fa-circle{
color: $color__adhoc;
font-size: 15px;
}

.en__construccion{
    color:black;
    background:$color__adhoc;
    border-radius: 25px;
    padding: 10px;
}

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}

.card__img{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cards__text{
    text-align: left;
    width: 90%;
    margin:0 auto;
}

.card__list{
    color:white;
    font-weight: 700;
    margin: 25px 0 12px ;
    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: var(--gray2);
    margin-bottom: 16px;
    line-height: 20px;

}

.card__button{
    display: block;
    background:$color__adhoc;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color:black;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card__button:hover{
    background: #000;
    color: white;
    transition: ease-in-out 0.5s;;

}

.card__date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.contenedor__anuncio__propio{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:#e22530;
    flex-wrap: wrap;
}

.contenido__anuncio{
    width: 30%;
}

.imagen__anuncio__carros{
    width: 100%;
    height: auto;
}

.subtitulo__anuncio,.texto__anuncio{
    color: white;
}

.publicar__carro{
    padding: 10px 20px;
    display: inline-block;
    background:black;
    text-decoration: none;
    color:white;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 50px;
    font-size: $tamaño__parrafos;  
}

.publicar__carro:hover{
    color: white;
}
.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background__title{
    font-size: 24px;
    margin-bottom: 4px;
}

.background__copy{
    width: 400px;
    line-height:20px;
    font-size: 18px;
}

.subtitulo__nuestra__forma{
    text-align: center;
    color: white;
    font-size: 24px;

}

.subtitulo__nuestra__forma{
    color: white;
    text-align: center;
}
.credito,.paypal{
color: $color__adhoc;
}

.precios{
    background:$color__fondo__footer;
}

.paypal__parrafo{
    color: white;
    text-align: center;
    font-weight: 700;
}

.contenido__eleccion{
background:$color__fondo__footer;
margin-top: -100px;
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.div__icono__elecion{
    width: 80%;
    margin: auto;
}
.icono__elecion{
    margin-left: 30%;
}
.subtitulo__eleccion{
    text-align: center;
    color: white;
    margin-top: 50px;
}
.eleccion{
    width: 45%;
    border-radius: 10px;
}

.enumerados strong{
color: #11998e;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 22px;

}

.contenido__enumerados{
    width: 22%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.item__enumerado{
    color: white;
    font-weight: bold;
    line-height: 40px;
    margin-left: 20px;

}

.texto__enumerado{
    color: $color__gris;
    font-weight: 600;
    margin-left: 20px;
}

.enlace__de__politicas{
    display: inline;
    color: $color__adhoc;
    text-decoration: 0;
    margin-left: 20px;

}
.enlace__de__politicas:hover{
    border-bottom:solid 1px $color__adhoc;
    color: $color__adhoc;
}
/*blog*/

.secction__blog{
border-top: solid 1px $color__gris;
}

.enlace__noticias__blog{
    text-decoration:0;
}

.contenido__lo__ultimo{
    width: 30%;
    height: 400px;
    border-radius: 10px;
   position: relative;

}

.contenido__lo__ultimo:hover{
   transition: .5s all;
  transform: scale(1.1);
}
.imagen__lo__ultimo{
    width: 100%;
    height:400px;
    border-radius: 10px;
}

.contendor__parrafo__lo__ultimo{
width: 90%;
margin: auto;
}

.parrafo__lo__ultimo{
    color:white;
    position: relative;
    top: -250px;

}

.btn__ir__al__blog{
    display: inline-block;
    border: 0;
    outline: 0;
    padding: 15px;
    color:black;
    background:$color__adhoc;
    border-radius: 50px;
    position: relative;
    top: -240px;
    left: 5%;
    font-weight: bold;
    width: 200px;
}

.container__footer{
	width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:$color__fondo__footer;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.logo__footer{
width: 100px;
}

.propuesta__de__valor{
    font-size:14px;
    color:white;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links{
    width: 100%;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media screen and (max-width:1500px) {
    .slider{
        height:200px;
    }
    .contenido__lo__ultimo{
        width: 30%;
    }
}


@media screen and (max-width:900px){
  .modal__registros{
    width: 80%;
  }
  .copy__section{
    font-size: 15px;
}
.title{
    font-size: 20px;
}
    .texto__nav__images{
        margin: 50% auto 0 auto;

    }
    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .background{
        width: 52%;
    }

    .card{
        width: 42%;
    }
    .slider{
        width: 100%;
        height: 120px;
        
    }

   
    .contenido__services{
        width: 100%;
    }
    .contenido__lo__ultimo{
        background: #000;
        width: 60%;
    }
    .parrafo__lo__ultimo{
        color:white;
        position: relative;
        top: -250px;
    
    }
}



@media screen and (max-width:700px){
    
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .hero__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    

    .title{
        font-size: 35px;
    }

    .copy{
        width: 80%;
        font-size: 20px;
        line-height: 30px;
    }

    .subtitle{
        font-size: 25px;
        text-align: center;
    }

    .copy__section{
        font-size: 17px;
        text-align: center;
    }

    .services .card{
        width: 80%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 25px;
    }

    .card__button{
        width: 100%;
    }

    .background{
        width: 65%;
        margin-bottom: 40px;
    }

    .background__copy {
        // display: block;
        width: 70%;
        
    }

    .testimony__card{
        width: 65%;
    }

    .testimony__name{
        font-size: 20px;
    }

    .container--modifier{
        width: 80%;
    }

    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
    .icono__elecion{
        margin-top: 90px;
    }
    .eleccion{
        width: 100%;
        height: auto;
    }
    .texto__enumerado{
        margin-left: 10px;
    }
    .contenido__enumerados strong{
        margin-left: 10px;
    }
    .footer-col{
        width: 60%;
        margin-bottom: 30px;
    }
    .contenido__lo__ultimo{
        width: 60%;
    }
}


@media (min-width: 768px) {
    .navegacion {
      grid-template-rows: var(--nav-height) auto;
      grid-template-columns: var(--nav-width) auto;
    }
    
    .nav-header {
      grid-column-start: span 2;
    }

    .texto__slider{
        font-size: 15px;
    }
   
    
  }
  

@media screen and (max-width:500px){
    
    .services .card{
        width: 95%;
    }

    .card{
        width: 95%;
    }
    

    .background{
        width: 95%;
    }


    .testimony__history{
        font-size: 20px;
    }

    .container--modifier{
        width: 70%;
    }
  
}

@media screen and (max-width:700px) {
    .contenido__funciones{
        width: 100%;
        height: 100px;
        color: white;
    }
}
@media screen and (max-width:680px) {
    .texto__anuncio__promocion{
        width: 80%;
    }
.contenedor__anuncio__propio{
    height: auto;
}
.contenido__anuncio{
    width: 60%;
}   
}

@media screen and (max-width:600px) {
 .slider{
    height: 170px;
 }
    .btn__cuenta__registro{
        margin-right: 15px;
        width: 110px;
        padding: 10px;
    }
   .btn__cuenta__registro i{
    display: none;
   }
   
    .modal__registros{
        margin-top: 160px;
    }
    .contenido__lo__ultimo{
        width: 90%;
    }
    .parrafo__lo__ultimo{
        font-size: 14px;
        top: -15rem;
    }
   
}

@media screen and (max-width:400px){
  .slider h3{
    font-size: 15px;
  }
   
    .icono__conductor{
        width: 50%;
    }
    .contenido__consejo__aleatorio{
        height: 150px;
        background: #000;

    }
    .contenido__consejo{
        margin-left: 1rem;
    }
    .parrafo__consejo{
        margin-left: 2rem;

    }
    .aleatorio__2{
        margin-top: -7rem;
    }
   .aleatorio__3{
    margin-top: -7rem;
   }
   .aleatorio__5{
    margin-top: -10rem;
   }
   .aleatorio__6{
    margin-top: -10rem;
   }
  
}