
@import 'variables';

:root{

    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

:root {
    --screen-width: 100vw;
    --screen-height: 100vh;
    
    --container-bg-1: #ddc0c3;
    --container-bg-2: #c198c8;
    --container-bg-size: 4rem;
    
    --nav-text-color: #ffffff;
    --nav-height: 50px;
    --nav-width: 320px;
    --nav-count: 10;
  }
  
  .oferta__de__lanzamiento{  
background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
  }

.titulo__promo__de__lanzamiento{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
}
 .enlace__vender__vehiculo{
display: inline-block;
 text-decoration: 0;
 color: white;
 margin-right: 80px;
 margin-top: 15px;
 }

 .enlace__vender__vehiculo:hover{
    border-bottom: 4px solid black;
    color: $color__gris;
 }
  .btn-open {
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .btn-open:active, .btn-open:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3) inset;
    transform: translateY(7px);
  }
  
  .nav-opener {
    display: none;
  }
  
  .nav-opener:checked + .navegacion {
    width: var(--screen-width);
    height: var(--screen-height);
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  
  .navegacion {
    z-index: 1;
    width: 0;
    height: 100%;
    display: grid;
    grid-template-rows: var(--nav-height) 30% auto;
    grid-template-columns: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-out, width 0ms 300ms, height 0ms 300ms;
  }
  
  .offcanvas-header,.offcanvas-body{
    background:$color__fondo__footer;
  }
  .nav-header {
    background-color:$color__fondo__footer;
    display: flex;
    justify-content: space-between;
  }
  
 .fa-user-astronaut,.fa-sign-in-alt,.fa-house-user,.fa-coins,.fa-headset,.fa-book-reader{
    font-size: 22px;
    background:$color__fondo;
    border-radius: 50px;
    padding: 7px;
 }

  .nav-links {
    background-color:$color__fondo__footer;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(var(--nav-count), var(--nav-height));
    grid-template-columns: 100%;
    overflow: auto;
    list-style-type: none;
  }

  
  .nav-link {
      color: var(--nav-text-color);
      display: flex;
      align-items: center;
      user-select: none;
      transition: all 150ms ease-out;
      margin: 0 0 0 20px;
    }

.nav-link a{
     text-decoration: 0;
     color:$color__gris;
     font-size: 18px;
     margin: 0 0 0 5px;
    }
    

  
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin:  0 0 0 5px;
    width: 80%;
  }
  
  .nav-link:focus, .nav-link:active {
    background-color: rgba(0, 0, 0, 0.30);
  }
  

  
 
  .nav-title {
    color: var(--nav-text-color);
    font-weight: bold;
    height: var(--nav-height);
    margin-left: 20px;
    display: flex;
    align-items: center;
    
  }
  
  .btn-nav {
    text-align: center;
    background-color: #ef2424;
  }
  
  .btn-nav:active, .btn-nav:focus {
    background-color: #ef2424;
    opacity: 0.8;
  }
  
  .btn-nav svg {
    display: block;
  }
  
  .btn-nav svg path {
    stroke: #ffffff;
    fill: #ffffff;
  }
  
  .nav-link-opener {
    display: none;
  }

  
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  

  .loader {
    background:black;
    top: 0;
    width:100%;
    height: 100vh;
    position: fixed;
    z-index: 10000;
  }
  

  .loader > .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    // z-index: 10;
  
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
    border-radius: 5px;
    background-color: #1e3f57;
 animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
  }
  
  .loader > .dot:nth-child(2) {
    z-index: 11;
    
    width: 150px;
    height: 90px;
    
    margin-top: -45px;
    margin-left: -75px;
    
    border-radius: 3px;
    
    background-color: #3c617d;
    
    animation-name: dot2;
  }
  
  .loader > .dot:nth-child(3) {
    z-index: 12;
    
    width: 40px;
    height: 20px;
    
    margin-top: 50px;
    margin-left: -20px;
    
    border-radius: 0 0 5px 5px;
    
    background-color: #6bb2cd;
    
    animation-name: dot3;
  }
  
  @keyframes dot1 {
    3%, 97% {
      width: 160px;
      height: 100px;
  
      margin-top: -50px;
      margin-left: -80px;
    }
    30%, 36% {
      width: 80px;
      height: 120px;
  
      margin-top: -60px;
      margin-left: -40px;
    }
    63%, 69% {
      width: 40px;
      height: 80px;
  
      margin-top: -40px;
      margin-left: -20px;
    }
  }
  
  @keyframes dot2 {
    3%, 97% {
      width: 150px;
      height: 90px;
  
      margin-top: -45px;
      margin-left: -75px;
    }
    30%, 36% {
      width: 70px;
      height: 96px;
  
      margin-top: -48px;
      margin-left: -35px;
    }
    63%, 69% {
      width: 32px;
      height: 60px;
  
      margin-top: -30px;
      margin-left: -16px;
    }
  }
  
  @keyframes dot3 {
    3%, 97% {
      width: 40px;
      height: 20px;
  
      margin-top: 50px;
      margin-left: -20px;
    }
    30%, 36% {
      width: 8px;
      height: 8px;
  
      margin-top: 49px;
      margin-left: -5px;
      
      border-radius: 8px;
    }
    63%, 69% {
      width: 16px;
      height: 4px;
  
      margin-top: -37px;
      margin-left: -8px;
      
      border-radius: 10px;
    }
  }
  


 

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
    max-width: 90%;
}

.btn__cuenta{
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
    position: relative;
   top: 2px;
   right: 20px;
   background:$color__accent;
   border: 0;
   outline: 0;
   color: white;
   font-weight: bold;
   border-radius: 50px;
}

.btn__cuenta:hover{
    background: #000;
    transition: all 0.5s;
}


.modal__registro__de__cuenta{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

.titulo__crear__cuenta{
    font-size:22px;
    color: white;
}

  .modal__registros{
    background-color:$color__fondo__footer;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 7px;
    width: 50%; 
    position: relative;
    height:200px;
  }
  
  .contenedor__btn__registros{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    
  }

.btn__cuenta__registro{
    display: inline-block;
    text-decoration: 0;
    color: white;
    padding: 12px;
     background: $color__accent;
     margin-right: 30px;
     width: 190px;
     border-radius: 7px;
     font-weight: bold;
     margin: 10px 10px 0;
}



.btn__cuenta__registro:hover{
    background: #000;
    transition: all 0.5s;
}

  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: -10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
  }

.container::-webkit-scrollbar{
    width: 10px;
}

.container::-webkit-scrollbar-thumb{
    background:$color__dark;
    border-radius: 7px;
}

.container--modifier{
    width: 60%;
}

.hero{
    width: 100%;
    min-height: 100vh;
  
}

.nav__hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}



.logo__accent{
    width: 100%;
    height: 50px;
}


.point{
    color:$color__accent;
}

.contenedor__imagen__banner{
    width: 100%;
    height: 600px;
    display: inline-block;
    position: relative;
}
.contenedor__imagen__banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
  }
.imagen__banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hero__main{
    height: calc(100vh - 60px);
    width:100%;   
}


.hero__textos{
    width:90%;
    position: absolute;
    top: 15rem;
    left: 50px;

}

.title{
    font-size: 50px;
    font-weight: bolder;
    color: $color__adhoc;
}


.copy{
    font-size: 24px;
    margin: 15px 0;
    width: 700px;
    color:white;
    line-height: 40px;

}

.copy__active{
    font-weight: 700;
}

.cta{
    padding: 10px 20px;
    display: inline-block;
    background:$color__accent;
    text-decoration: none;
    color:white;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 50px;
    font-size: $tamaño__parrafos;
}

.cta:hover{
    background: #000;
    color: white;
    transition: ease-in-out 0.5s;
}
.contenedor__funciones{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenido__funciones{
    width: 30%;
    height:150px;
    display: flex;
    font-weight: 400;

}
.subtitulo__funciones{
    color: $color__verde;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;

}
.parrafo__contenido__funciones{
color:white;
margin-left: 10px;
font-size: 15px;
}


.fa-circle{
color: $color__adhoc;
font-size: 15px;
}


/* services */

.contenedor__eleccion{
background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(181, 72%, 13%, 0.61), #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(181, 72%, 13%, 0.61), #44A08D),url(../img/persona\ __en__su__celular.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}
.servicios{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.slider{
    width: 20%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    border:  solid 2px $color__fondo__blog;
    transition: border-color .2s linear;
}

.iconos__slider{
    font-size: 40px;
    color:$color__fondo__blog;
    margin-top: -50px;
    margin-left: 20px;
}

.subtitulo__slider{
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 30px 30px;
    line-height: 20px;
}

.slider:hover{
    transform: scale(1.1);
}

.services__vender__carro{
   position:relative;
    height: 500px;
}

.img__cargando__productos{
    margin: auto;
    width: 25%;
}

.subtitle{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.subtitulo{
    text-align: center;
}
.solicitud{
    color: white;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
    color: white;
}

.services__vender__carro{
    margin-top: -350px;
}
.copy__section{
    color:white;
    font-size: 17px;
    line-height:$line__heigth__parrafos;
    margin-bottom: 60px;
}

.texto__copy{
    text-align: center;
}



.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card__services{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    // background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);


}
.imagen__services{
    display: inline-block;
    width: 100%;
    height: 300px;
}
.card__img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;

}

.cards__text{
    text-align: left;
    width: 90%;
    margin:0 auto;
   
}

.card__list{
    color:white;
    font-weight: 700;
    margin: 25px 0 12px ;
    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: var(--gray2);
    margin-bottom: 16px;
    line-height: 20px;

}

.card__button{
    display: block;
    background:$color__adhoc;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color:black;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card__button:hover{
    background: #000;
    color: white;
    transition: ease-in-out 0.5s;;

}

.card__date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background__title{
    font-size: 24px;
    margin-bottom: 4px;
}

.background__copy{
    width: 400px;
    line-height:20px;
    font-size: 18px;
}
.nuestra__forma__de__pago{
    margin-top: 15rem;
    width: 100%;
}

.subtitulo__nuestra__forma{
    text-align: center;
    color: white;
    font-size: 24px;

}

.linea{
    border-bottom:solid 1px $color__gris;
}
.img__billeteras{
 width: 70px;
}
.img__pago__en__efectivo{
  width:50px;
  margin: 10px 50px 0;
}

.img__tarjetas__de__credito{
    width: 50px;
}
.precios{
    width: 30%;

}
.precios{
    background:$color__fondo__footer;
    margin-bottom: 20px;
}

.cards__text__efectivo{
    text-align: left;
    width: 98%;
    margin:0 auto;
}
.card__precios__efectivo{
    width: 100%;
}

.contenido__eleccion{
background:$color__fondo__footer;
margin-top: -100px;
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.div__icono__elecion{
    width: 80%;
    margin: auto;
}
.icono__elecion{
    margin-left: 30%;
}
.subtitulo__eleccion{
    text-align: center;
    color: white;
    margin-top: 50px;
}
.eleccion{
    width: 45%;
    border-radius: 10px;
}

.enumerados strong{
color: #11998e;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 22px;

}

.contenido__enumerados{
    width: 22%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.item__enumerado{
    color: white;
    font-weight: bold;
    line-height: 40px;
    margin-left: 20px;

}

.texto__enumerado{
    color: $color__gris;
    font-weight: 600;
    margin-left: 20px;
}

.enlace__de__politicas{
    display: inline;
    color: $color__adhoc;
    text-decoration: 0;
    margin-left: 20px;

}
.enlace__de__politicas:hover{
    border-bottom:solid 1px $color__adhoc;
    color: $color__adhoc;
}
.contenedor__anuncio__propio{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:$color__verde;
    flex-wrap: wrap;
}

.contenido__anuncio__texto{
    margin-top: -2rem;
    width: 40%;
}

.contenido__img__anuncio{
    width: 30%;
    margin-top: -70px;
    display: inline-block;
}
.contenido__img__anuncio img{
    width: 100%;
    height:100%;
    display: block;
    object-fit: cover;

}



.subtitulo__anuncio,.texto__anuncio{
    color: white;
}

.publicar__carro{
    padding: 10px 20px;
    display: inline-block;
    background:black;
    text-decoration: none;
    color:white;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 50px;
    font-size: $tamaño__parrafos;  
}

.publicar__carro:hover{
    color: white;
}

.container__footer{
	width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:$color__fondo__footer;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.logo__footer{
width: 100px;
}

.propuesta__de__valor{
    font-size:14px;
    color:white;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links{
    width: 100%;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.contenedor__formulario__newsletter{
    width: 100%;
    margin: 50px  auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    
}


.parrafo__newsletter{
    color: white;
}
.formulario__newsletter{
width: 47%;
margin-left: 10px;


}
.col-12{
    width: 80%;

    
    margin-top: 50px;
    height: 70px;
}
.input__newsletter{
    background:$color__fondo__footer;
}
.input__newsletter:focus{
    background:$color__fondo__blog;
}
.respuesta{
    color: $color__verde;
    font-size: 12px;
}

@media screen and (max-width:1300px) {
    .slider{
       width: 45%;
    }
    .contenido__funciones{
        margin: 20px auto 0 auto;
        height: 200px;
    }
}

@media screen and (max-width:1000px) {
    .nuestra__forma__de__pago{
        margin-top: 20rem;
    }
    .cards__formas__de__pago{
    width: 100%;
    margin: auto;
    }
    .card__precios{
        width: 32%;
    }
    
}

@media screen and (max-width:900px){
  .modal__registros{
    width: 80%;
  }
  .copy__section{
    font-size: 15px;
}
.title{
    font-size: 20px;
}
    .texto__nav__images{
        margin: 50% auto 0 auto;

    }
    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    
    }

    .services .card{
        width: 45%;
    }

    .background{
        width: 52%;
    }

    
    .slider{
        width: 100%;
        height: 120px;
        
    }
   
    .contenido__services{
        width: 100%;
    }
    .services__vender__carro{
        margin-top: -200px;
    }
    .nuestra__forma__de__pago{
        margin-top: 25rem;
    }
    .cards__formas__de__pago{

        width: 100%;
    }
   
    .card__precios{
        width: 47%;
    } 
    .contenido__funciones{
       width: 50%;
       height: 150px;
    }
    .contenido__img__anuncio{
        height: 500px;
        width: 50%;
    }

.publicar__carro{
    font-size: 13px;
}
}

@media screen and (max-width:800px) {
    .copy__active{
        font-size: 17px;
    }
    .contenido__funciones{
        width: 50%;
        margin-top: 10px;
    }
  .subtitulo__funciones{
    font-size: 18px;
  }
  .parrafo__contenido__funciones{
    font-size: 15px;
  }
 
.card__services{
    width: 100%;
    border-bottom: 2px solid $color__gris;
}
.nuestra__forma__de__pago{
    margin-top: 90rem;
}
.card__precios__efectivo{
    width: 100%;
}
.card__precios{
    width: 32%;
}
.publicar__carro{
    font-size: 13px;
}
}

@media screen and (max-width:700px){
   
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .hero__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    

    .title{
        font-size: 35px;
    }

    .copy{
        width: 80%;
        font-size: 20px;
        line-height: 30px;
    }

    .subtitle{
        font-size: 25px;
        text-align: center;
    }
    .contenido__funciones{
        margin: -50px 0 0 0;
        width: 100%;
    }

    .slider{
        height: auto;
        margin-top: 20px;
    }

    .copy__section{
        font-size: 17px;
        text-align: center;
    }

    .services{
        width: 100%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

   

    .card__title{
        font-size: 25px;
    }

    .card__button{
        width: 100%;
    }

    .background{
        width: 65%;
        margin-bottom: 40px;
    }

    .background__copy {
        // display: block;
        width: 70%;
        
    }

    .testimony__card{
        width: 65%;
    }

    .testimony__name{
        font-size: 20px;
    }

    .container--modifier{
        width: 80%;
    }
    .container-cards{
        width: 100%;  
    }
  
    .nuestra__forma__de__pago{
        width: 100%;
        margin: 90rem auto 0 auto;
    }
    .card__precios,.card__precios__efectivo{
        width: 100%;
    }
    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
    .icono__elecion{
        margin-top: 90px;
    }
    .eleccion{
        width: 100%;
        height: auto;
    }
    .texto__enumerado{
        margin-left: 10px;
    }
    .contenido__enumerados strong{
        margin-left: 10px;
    }
    .contenido__img__anuncio{
        width: 60%;
        height: auto;
    }
  
    .contenido__anuncio__texto{
        margin-top: 20px;
        width: 95%;
        margin: auto;
    }
    .texto__anuncio{
        font-size: 15px;
    }
    .publicar__carro{
        font-size: 13px;
    }
    .footer-col{
        width: 60%;
        margin-bottom: 30px;
    }
  
}


@media (min-width: 768px) {
    .navegacion {
      grid-template-rows: var(--nav-height) auto;
      grid-template-columns: var(--nav-width) auto;
    }
    
    .nav-header {
      grid-column-start: span 2;
    }

    .texto__slider{
        font-size: 15px;
    }
   
    
  }
  

@media screen and (max-width:500px){
    .hero__textos{
        left: 20px;
    }
    .title{
        font-size: 25px;
    }
    .contenido__funciones{
        margin-top: 10px;
    }
    .services{
        width: 100%;
    }

    

    .background{
        width: 95%;
    }

    .testimony__history{
        font-size: 20px;
    }

    .container--modifier{
        width: 70%;
    }
  
}


@media screen and (max-width:680px) {
    .texto__anuncio__promocion{
        width: 80%;
    }
.contenedor__anuncio__propio{
    height: auto;
}

   
}

@media screen and (max-width:600px) {
    .btn__cuenta__registro{
        margin-right: 15px;
        width: 110px;
        padding: 10px;
    }
   .btn__cuenta__registro i{
    display: none;
   }
   
    .modal__registros{
        margin-top: 160px;
    }
    .nuestra__forma__de__pago{
        margin: 100rem auto 0 auto;
    }
 
}

@media screen and (max-width:400px){

   .btn__cuenta{
    display: none;
   }
   .nuestra__forma__de__pago{
    margin-top: 90rem;
}
.contenido__anuncio__texto{
    margin-top: 20px;
}
.publicar__carro{
    font-size: 13px;
}
.nuestra__forma__de__pago{
    margin: 100rem auto 0 auto;
} 
}

