.contenedor__mis__carros__anunciados{
    margin-top: -700px;

}

.fa-edit{
    color:$color__adhoc;
    font-size: 1.2rem;
  
}

.fa-trash-alt{
    color: $color__danger;
    font-size: 1.2rem;
}

.enlace__eliminar,.enlace__editar{
    text-decoration: 0;
    color:white;

}

.enlace__editar:hover,.enlace__eliminar:hover{
 color: white;
 opacity: 0.3;
 transition: 0.5s ease-in-out;
}
.titulo__carro__anunciado{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.subtitulo__carro__anunciado{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.subtitulo__anuncio__carro{
    color: white;
    text-align: center;
}
.anunciados{
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-left: solid 4px $color__verde;
    border-radius: 7px;
    background:$color__fondo__footer;
}


.contenedor__de__datos{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenido__carros__anunciados{
    width: 30%;
}

.tarjeta__collapsable{
    width: 50%;
    height: auto;
    margin-left: 10px;
    background:$color__fondo__footer;
    border-top: 10px solid $color__verde;
    
}


.estado__del__anuncio{
    width: 40%;
    left: 10px;
    top: 130px;

}


@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.estado__activo{
    font-size: 10px;
    color: white;
    text-align:left;
    margin-left: 10px;
}

.cirulo__anuncio__activo{
    color: $color__verde;
   font-size: 10px;
  animation-name: papadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.cirulo__anuncio__inactivo{
    color: $color__danger;
    font-size: 10px;  
}

.enlace__obtener__oferta{
color:$color__verde;
text-decoration: 0;
font-weight: bold;
}

.activado{
  color:$color__verde;
  font-size: 12px;
}

.subtitulo__modal{
    color: white;
    font-size: 20px;
}

.btn__desactivar__anuncio{
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: $color__danger;
    text-align: left;
    width: 100%;
    text-decoration: 0;

}

.contenedor__imagen__no__anuncio{
    width: 100%;
}

.subtitulo__no__anuncio{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.imagen{
    width: 30%;
    margin-left: 35%;
    margin-right: 42%;
    margin-top: 70px;
}

.imagen__no__hay__anuncio{
    width:100%;
    height: auto;
  object-fit: cover;
}

.desactivado{
    color: $color__danger;
    font-size: 10px; 
}


.parrafo__carros__anunciados{
    font-size: 15px;
    text-align: center;
    color: white;
}

.titulo__modal{
    text-align: center;
    font-size: 19px;
    color: white;
}

.fa-info{
    color: $color__adhoc;
    font-size: 20px;
}

.estado__anuncio__vendido{
    color: $color__verde;
    font-weight: bold;
}

@media screen and (max-width:800px) {
    .imagen{
        width: 50%;
        margin-left: 25%;
        margin-right: 42%;
        margin-top: 70px;
    }
    
    .contenido__carros__anunciados{
     width: 50%;
    }  
    .formulario__precio__del__carro{
        width: 90%;
    }
    .estado__del__anuncio{
        width: 90%;
    }
    .fila__tabla{
        font-size: 14px;
    }
    .fa-edit .fa-trash-alt{
        font-size: 14px;

    }
}


@media screen and (max-width:400px) {
    
    .contenido__carros__anunciados{
     width: 60%;
    } 
   
}