.contenedor__mis__solicitudes{
    margin-top: -600px;
   

    
}


.subtitulo__solicitudes{
color:$color__gris;
font-size: $tamaño__fuente__subtitulo;

}

.texto__solicitud{
 width: 60%;
 color: $color__gris;
font-size: $tamaño__parrafos;
line-height: $line__heigth__parrafos;

}

.contenido__solicitudes{
width: 100%;
height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.datos__de__solicitud{
    width: 90%;
    height:auto;
    background:$color__menu__dashboard;
   border-radius: 10px;
   margin:50px auto 20px auto;
}


.card__solicitudes::before,
.card__solicitudes::after {
content: '';
position: absolute;
z-index: -1;
}
.card__solicitudes::before {
width: 100%;
height: 100%;
border: 1px solid #FFF;
border-radius: 10px;
top: -.7rem;
left: -.7rem;
}
.card__solicitudes::after {
height: 15rem;
width: 15rem;
background-color: #4172f5aa;
top: -8rem;
right: -8rem;
box-shadow: 2rem 6rem 0 -3rem #FFF
}
.card__solicitudes img {
    border-radius: 50%;
    }
     
    .imagen__de_perfil {
    max-width: 100%;
    display: block;
    } 
    
    .card__solicitudes img {
    width: 8rem;
    min-width: 80px;
    box-shadow: 0 0 0 5px #FFF;
    }
    
  

        
    //     .text {
    //     font-size: .9rem;
    //     margin-bottom: 1rem;
    //     }

    //     .stats {
    //         display: flex;
    //         margin-bottom: 1rem;
    //         }
    //         .stats li {
    //         min-width: 5rem;
    //         }
    //         .stats li h3 {
    //         font-size: .99rem;
    //         }
    //         .stats li h4 {
    //         font-size: 1.2rem;
           
            
    //         }

    //         .links{
    //             display: flex;
    //         }

 
    //             .links .follow,
    //             .links .view:hover {
    //             background-color:$color__verde;
    //             color: #FFF;
    //             }
    //             .links .view,
    //             .links .follow:hover{
    //             background-color: transparent;
    //             color: white;;
    //             }
        

.enlaces__servicios{
    text-decoration: 0;
    border: 0;
    display: block;
    padding: 14px;
    background: #000;
    margin: -10px 0 0 0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
    text-decoration: 0;

}
.iniciar{
    background:#0652DD;
}


.terminar{
    background: $color__verde;
}


.enlaces__servicios:hover{
background:$color__fondo;
transition: all 0.5s;
color: white;
  
}



.modal-content{
    background: $color__dark;
}

.parrafo__estado{
 background:#0652DD;
 width: 100%; 
 color: white;
 font-weight: bold;  
 padding: 7px;
 border-radius: 7px;
text-transform: uppercase;
opacity: 0.5;
margin-left: -22px;
}


.culminado{
    background:$color__verde;
    opacity: 0.5;
    margin-left: -22px;
}

.btn__open__modal__calificacion{
  display: inline-block;
  border: none;
  outline: 0;
  color:white;
  font-weight: bold;
  border-radius: 50px;
  background:$color__accent;
  padding: 7px 30px;
}

.cerrar__modal__calificacion{
  display: inline-block;
  font-size: 30px;
  position: absolute;
  right: 30px;
  cursor: pointer;
  top: 30px;
}

.cerrar__modal__calificacion:hover{
  color: white;
  transition: 0.5s ease-in-out;
}

.modal__recorrido {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  transition: ease-in-out 0.5s;
  animation-name: animatetop;
  animation-duration: 0.4s
}



.contendido__modal__recorrido{
background-color:$color__cards;
margin: 15% auto; 
padding: 20px;
width: 50%; 
display: flex;
justify-content: center;
align-items: center;
}


.formulario__calificacion{
    width: 90%;
}

.area__mensaje{
max-width: 100%;
min-width: 100%;
min-height: 70px;
max-height: 70px;
}

@keyframes animatetop {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
  
  
  .subtitulo__estado__recorrido{
    color: white;
  }
  
  .parrafo__recorrido{
    color: white;
    font-size: $tamaño__parrafos;
    line-height: 20px;
  }
  
  
  
  
  .contenido__calificaciones{
  width: 80%;
  display: flex;
  }
  
  .btn__calificaciones{
   display: inline-block;
   padding: 0;
   outline: 0;
   border: 0;
   margin-left: 15px;
   background:$color__verde;
   color: white;
   padding: 10px;
  }


// @media screen and (max-width:900px) {
//   .datos__de__solicitud{
//     margin: 30px auto 20px auto;
//   }
   
//     .texto__solicitud{
//         width: 90%;
//     }
// }

@media screen and (max-width: 900px) {
    .texto__solicitud{
    width: 90%;
}
    .datos__de__solicitud{
        margin: 30px auto 20px auto;
        width: 90%;
    }
    .card__solicitudes {
      display: block;
      margin: auto;
      width: 100%;
    }
  
    }