.contenedor__mis__carros__anunciados{
    margin-top: -700px;

}
.promocion__oferta{
 width: 100%;
 height: 250px;
 background-image: url(../img/ofertas.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
border-radius: 10px;

}

.subtitulo__promocion__premiun{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-left: 50px;
}

.parrafo__promocion__premiun{
color: white;
margin-left: 50px;
font-size: 14px;
}

.enlace__obtener__oferta{
display: inline-block;
width: 200px;
padding: 10px;
background:$color__adhoc;
border-radius: 10px;
margin-left: 50px;
text-decoration: 0;
color: black;
}
.enlace__obtener__oferta:hover{
    color: black;
}

.titulo__carro__anunciado{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.subtitulo__anuncio__carro{
    color: white;
}

.subtitulo__carro__anunciado{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.marca__carro__anunciado{
    color: white;
    font-size: 20px;
}
.anunciados{
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-left: solid 4px $color__verde;
    border-radius: 7px;
    background:$color__fondo__footer;
}

.texto__precio__carro{
    color: white;
    font-size: 10px;
}
.precio__de__carro__usado{
    color: $color__verde;
}

.contenedor__de__datos{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenido__carros__anunciados{
    width: 30%;
}

.btn__editar__precio__carro{
    display: inline-block;
   border: 0;
   outline: 0;
   padding: 10px;
   color: white;
   background:$color__fondo__footer;
   font-weight: bold;
}

.btn__editar__precio__carro:hover{
 background:$color__adhoc;
 color: black;
 transition: .5s;
 border-radius: 25px;
} 

.col-form-label{
    color: white;
}


.tarjeta__collapsable{
    width: 50%;
    height: auto;
    margin-left: 10px;
    background:$color__fondo__footer;
    border-top: 10px solid $color__verde;
    
}

.formulario__precio__del__carro{
    width: 40%;
    margin-left: 10px;
}
.input__precio__del__carro{
    background: #000;
    color: white;
}

.btn__footer{
    width: 100%;
    
}

.estado__del__anuncio{
    width: 40%;
    left: 10px;
    top: 130px;
   
}


@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.estado__activo{
    font-size: 10px;
    color: white;
    left: -50px;
}

.fa-bullhorn{
    color: $color__verde;
 font-size: 25px;
  animation-name: papadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}


.activado{
  color:$color__verde;
  font-size: 12px;
}

.btn__desactivar__anuncio{
    display: inline-block;
    border: 0;
    outline: 0;
    background:$color__fondo__footer;
    font-size: 14px;
    color: $color__danger;
}

.contenedor__imagen__no__anuncio{
    width: 100%;
}

.subtitulo__hay__anuncio{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.imagen{
    width: 90%;
    margin: auto;
}
.imagen__no__hay__anuncio{
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-top: 50px;
  
}

.desactivado{
    color: $color__danger;
    font-size: 10px; 
}
.solicitud__de__publicacion__redes__sociales{
    margin-top: -80px;
    width: 80%;

}
.texto__publicacion__redes__sociales{
    color: white;
  }
  
.contenedor__publicacion__aceptada{
    width: 90%;
    border-radius: 10px;
    background: #000;
   padding: 1rem;
 
}
.publicacion__aceptada{
    display: flex;
    align-items: center;
    color:white;
    text-align: center;
    font-weight: bold;
    line-height: 1rem;
}
.contenido__check{
    width: 10%;
}
.check{
    font-size: 30px;
}

@media screen and (max-width:1100px) {
    .tarjeta__collapsable{
        width: 70%;
   
    }
}

@media screen and (max-width:900px) {
    .tarjeta__collapsable{
        width: 70%;

    }
}

@media screen and (max-width:800px) {
    .tarjeta__collapsable{
        width: 70%;
 
    }
    .contenido__carros__anunciados{
     width: 50%;
    }  
    .formulario__precio__del__carro{
        width: 90%;
    }
    .estado__del__anuncio{
        width: 90%;
    }
}

@media screen and (max-width:700px) {
     .publicacion__aceptada{
        line-height: 30px;
     }
}

@media screen and (max-width:600px) {
    .promocion__oferta{
        height: 300px;
    }
    .tarjeta__collapsable{
        width: 90%;

    }
}

@media screen and (max-width:400px) {
    
    .contenido__carros__anunciados{
     width: 60%;
    } 
    .btn__editar__precio__carro,.btn__footer{
        font-size: 12px;
    } 
}