.contenedor__notificaiones{
    width: 40%;
    margin-top: -500px;
    background:$color__dark;
    border-radius: 10px;
}

.contenido__notificacion{
    width: 90%; 
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:  auto;
    padding: 10px;
     border-bottom: solid 1px white;
     border-top: solid 1px white;

}




.enlace__notificacion__individual{
    width: 100%; 
    text-decoration: 0;

 
}

.nombre__comentario{
    color: $color__gris;
    font-size: 17px;
}

.parrafo__de__notificaciones{
    margin: 0 390px 0 0;
    height: auto;
    width: 200px;
    color: white;
    
}


.hidde{
    margin: 20px 0 0 0;
    text-decoration: 0;
    display: inline-block;
    color:white;
    padding: 12px;
    width:$tamaño__btn;
    text-align: center;
    border-radius: 7px;
    background:$color__danger;
    font-size: 20px;
   

}

.hidde:hover{
    color: white;
    opacity: 0.5;
}


.contenido__notificacion:hover{
    background:$color__menu__dashboard;
    border-radius: 7px;
   width: 90%;
}

.avatar__notificacion{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid 2px $color__verde;
    
}


 @media screen and (max-width:1200px) {
    .contenedor__notificaiones{
        width: 60%;
       
    }
    .hidde{
        width: 200px;
    }
   
 }

 @media screen and (max-width:900px) {
    .contenedor__notificaiones{
        width: 80%;
       
    } 
    
      
 }

 @media screen and (max-width:500px) {
    .contenedor__notificaiones{
        width: 95%;
       
    } 
    
      
 }