.contenedor__respuesta__pago{
    width: 60%;
    margin: auto;
    margin-top: -600px;
    background:$color__fondo__footer;
    border-radius: 10px;
    height:auto;
}
.img__respuesta__pago{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.titulo__respuesta__pago{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
  
}

.texto__respuesta__pago{
    text-align: center;
    color: white;
    width: 80%;
    margin: auto;
}
.contenido__enlace__respuesta{
    text-align: center;
    border: solid 1px $color__gris;
    padding: 5px 10px;
    width: 200px;
    margin: 20px auto;
}
.enlace__respuesta__pago{
    display: inline-block;
    text-decoration: 0;
    color: white;
    width: 100%;
    
}
.enlace__respuesta__pago:hover{
    color: white;
}

@media screen and (max-width:800px) {
    .contenedor__respuesta__pago{
        width: 90%;
    }
}