.contenedor__datos__perfil{
    margin-top: -600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:$color__menu__dashboard;
    border-radius: 7px;
}


.info__perfil{
    width: 100%;
    margin: -70px 0 0 30px;
}

.biografia__detallada{
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.foto__de__perfil{
    width: 40%;
    height:300px;
    border-radius: 25px;
}

.enlace__de__redes__sociales{
    display: inline-block;
    text-decoration: 0;
    font-size: 25px;
    margin: 10px 30px 0 30px;
    color: red;
}

.fa-facebook{
color: #4267B2;
}

.fa-facebook:hover{
color: #4267B2;

}

.fa-instagram{
    color: #E1306C;
}

.fa-instagram:hover{
    color: #E1306C;
}


.fa-twitter{
    color: #1DA1F2;
}

.fa-twitter:hover{
    color: #1DA1F2;

}

.enlace__editar__perfil{
margin: 20px 0 0 0;
text-decoration: 0;
display: inline-block;
color:white;
padding: 12px;
width: 250px;
text-align: center;
border-radius: 7px;
background:$color__verde;
font-size: 20px;
}

.enlace__editar__perfil:hover{
    background:black;
    color: white;
    transition: ease-in-out 0.5s;
}

.datos__del__perfil__de__usuario{
    border-radius: 7px;
    width: 100%;
}

.datos__basicos{
color: $color__gris;
line-height: 10px;
font-size: 18px;
}

.quien__soy{
line-height: 20px;
width: 300px;
height: auto;
font-size: 16px;
}

.fecha__registro{
    font-size: 12px;
}



.contenedor__opinion,.contenedor__formulario__datos__de_pago{
    background:$color__menu__dashboard;
    border-radius: 7px;
    margin-top: 50px;
    height: auto;
   
}

.contenedor__opinion::-webkit-scrollbar{
    width: 10px;
   
}

.contenedor__opinion::-webkit-scrollbar-thumb{
    background:$color__dark;
    border-radius: 7px;
}

.contenedor__opinion{
    overflow-y: scroll;
    height: 550px;
    
}



.contenedor__formulario__datos__de_pago{
  height: 400px;
}

.titulo__opinion{
text-align: center;
color: white;
font-size: 30px;
}

.opinion{
    width: 50%;
    height: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background:$color__fondo;
    margin: -30px 0 0 100px;
}

.opinion__2{
width: 50%;
margin-left: 40%;  
background:$color__fondo;
margin-top: -30px;
border-top-right-radius:25px;
border-top-left-radius: 25px;
border-bottom-left-radius:25px;
}

.parrafo__info__opinion{
    color: white;
    width: 80%;
    margin: 0 0 0 100px;
    font-size: 18px;
}


.parrafo__info__opinion span{
color: yellow;

}


.avatar__opinion__1{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: solid 2px $color__verde;
}
.item__opinion{
   display: flex;
  align-items: center;
  margin: 50px 0 0 10px;
  color: $color__gris;

}

.nombre__item__opinion{
    margin-left: 10px;
    margin-top: 15px;
    
}

.parrafo__item__opinion{
    margin-left: 50px; 
    margin-top: -15px;
    width: 80%;
    height: auto;
   

}

.parrafo{
    width: 80%;
    margin: 10px 0 0 10px;
    word-wrap: break-word;
    color:$color__gris;
    font-size: 19px;
}

.fecha__publicacion{
    font-size: 12px;
    color: $color__gris;
    margin: 10px 0 0 10px;
}

.formulario__respuesta{
    width: 90%;
    margin: 30px 100px 0 100px;
    
   
}


.respuesta{
width: 75%;
padding: 15px;
border: 0;
outline: 0;
background:$color__fondo;
border-radius: 7px;
color: white;
margin:0 0 0 120px;

}

.boton__respuesta{
    display: inline-block;
    background:$color__fondo;
    border: 0;
    padding: 15px;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    
}

// datos de metodo de pago del conductor
.contenedor__formulario__datos__de_pago{
height: auto;
}

.parrafo__metodo__pago{
    text-align: center;
    color: $color__gris;
}

.metodo__de__pago{
    width: 80%;
    margin: -20px auto 0 auto;
}
.seleccionar{
    border: 0;
    height: 50px;
    margin: 5px  0 0 0;
    border-radius: 5px;
}

.seleccionar:focus{
 border: solid 3px $color__verde;
}

.item__info__pagos{
    width: 97%;
    background:$color__accent;
    margin: 50px  auto 0 auto;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 7px;

}

.item__info__pagos p{
    margin: 10px  0 0 0;
}