.btn__back{
    display: inline-block;
    border: 0;
    outline: 0;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: absolute;
    top: 100px;
    left: 13%;
}

.btn__back:hover{
    background: #000;
    color: white;
    transition: ease-in-out 0.5s;
}


.contenedor__datos__perfil{
    margin-top: -400px;
    width: 90%;
    background:$color__menu__dashboard;
    border-radius: 7px;

}


// .subtitulo__ad__panel{
//     font-size:$tamaño__fuente__subtitulo;
//     color:$color__gris;
//     font-weight: bold;
//     position:absolute;
//     top: 250px;
//     left: 200px;
// }
.datos__de__perfil{
    width: 50%;
    margin: -80px auto 20px auto;
   height: auto;
}

.perfil{
    width: 100%;
    

}

.imagen__de_perfil{
    height: 120px;
}

.biografia__detallada{
    color: white;
    font-size: 22px;
    font-weight: bold;
     margin-top: -50px;
}


.redes__sociales{
    width: 70%;
    margin: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.enlace__de__redes__sociales{
    display: inline-block;
    text-decoration: 0;
    font-size: 25px;
    margin-top: 20px;
    background: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    
}
.enlace__de__redes__sociales:hover{
    background:$color__verde;
    transition: ease-in-out 0.5s;
     opacity: 0.9;
}

.fa-facebook{
color: #4267B2;
}

.fa-facebook:hover{
color: #4267B2;

}

.fa-instagram{
    color: #E1306C;
}

.fa-instagram:hover{
    color: #E1306C;
}


.fa-twitter{
    color: #1DA1F2;
}

.fa-twitter:hover{
    color: #1DA1F2;

}



.datos__del__perfil__de__usuario{
    border-radius: 7px;
    width: 100%;
}

.datos__basicos{
color: $color__gris;
line-height: 10px;
font-size: 18px;
}

.quien__soy{
line-height: 20px;
width: 300px;
height: auto;
font-size: 16px;
}

.fecha__registro{
    font-size: 12px;
}



.contenedor__opinion,.contenedor__formulario__datos__de_pago{
    background:$color__menu__dashboard;
    border-radius: 7px;
    margin-top: 50px;
    height: auto;
   
}

.contenedor__opinion::-webkit-scrollbar{
    width: 10px;
   
}

.contenedor__opinion::-webkit-scrollbar-thumb{
    background:$color__dark;
    border-radius: 7px;
}

.contenedor__opinion{
    overflow-y: scroll;
    height: 550px;
    
}

.contenido__comentario{
  width: 40%;
  margin: auto;
}


.contenedor__formulario__datos__de_pago{
  height: 400px;
}

.titulo__opinion{
text-align: center;
color: white;
font-size:$tamaño__fuente__subtitulo;
}

.opinion{
    width: 100%;
    height: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background:$color__fondo;
    margin-top: 30px;
}


.item__opinion{
    width: 95%;
    margin:auto;
  color: $color__gris;

}

.nombre__item__opinion{
    line-height: 30px;
}



.parrafo{
    width: 80%;
    margin: 10px 0 0 10px;
    word-wrap: break-word;
    color:$color__gris;
    font-size: 19px;
}

.fecha__publicacion{
    font-size: 12px;
    color: $color__gris;
    margin: 10px 0 0 10px;
}



// datos de metodo de pago del conductor
.contenedor__formulario__datos__de_pago{
height: auto;
}

.parrafo__metodo__pago{
    text-align: center;
    color: $color__gris;
}

.metodo__de__pago{
    width: 80%;
    margin: -20px auto 0 auto;
}
.seleccionar{
    border: 0;
    height: 50px;
    margin: 5px  0 0 0;
    border-radius: 5px;
}

.seleccionar:focus{
 border: solid 3px $color__verde;
}

.item__info__pagos{
    width: 97%;
    background:$color__accent;
    margin: 50px  auto 0 auto;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 7px;

}

.item__info__pagos p{
    margin: 10px  0 0 0;
}



// @media screen and(max-width:1300px) {
//    .contenedor__datos__perfil{
//     width: 90%;
//     margin-top: -500px;
//    } 
//    .enlace__editar__perfil{
//     width: 70%;
//    }
   
// }

@media screen and(max-width:1500px) {
    .btn__back{
        left: 5%;
      } 
      .form-search input{
        width: 80%;
        margin: auto;
      }  
     
}

@media screen and (max-width:900px) {
.contenedor__datos__perfil{
    height: 800px;
}
.datos__de__perfil{
    height: auto;
} 
  .btn__back{
    left: 5%;
  }
 

   
}


@media screen and(max-width:700px) {
   
    .info__perfil{
        width: 70%;
        margin-top: 20px;
    }
    .enlace__editar__perfil{
        margin-left: 15%;

    }
    .foto__de__perfil{
        margin-left: 25%;
        width: 50%;
        height: 50%;
    }

.biografia__detallada{
    text-align: center;
}
    .datos__del__perfil__de__usuario{
        width: 55%;
        margin: auto;
    }
    .redes__sociales{
        margin: auto;
    }
    .enlace__editar__perfil{
       width: 70%;
    }
    .biografia__detallada{
        margin-top: 50px;
    }

    .parrafo__info__opinion{
        margin: auto;
    }
    
 }
 
 
 @media screen and (max-width:500px) {
    .opinion{
        width: 90%;
        background: #000;
        margin: auto;
    }
    .datos__de__perfil{
        width: 100%;
        height: 800px;
    }
 }