
.contenedor__detalles__de__pago{
    width: 90%;
    margin: -90px auto 0 auto;
}

.titulo__pago{
    text-align: center;
    color: white;
}

.contenedor__parrafo__saldo{
    width: 30%;
    margin-left: 70%;
}

.parrafo__saldo{
    color: white;
    text-align: center;
}

 
.contenedor__boton__paypal{
    width: 60%;
    margin: auto;
}


@media screen and (max-width:700px) {
    .contenedor__boton__paypal{
        width: 90%;
       }
}

@media screen and (max-width:500px) {
   .total__a__pagar{
    text-align: center;
   } 

   
   
}