
.contenedor__detalles__de__pago{
    width: 40%;
    margin: -90px auto 0 auto;
}

.titulo__pago{
    text-align: center;
    color: white;
}

.contenedor__parrafo__saldo{
    width: 30%;
    margin-left: 70%;
}

.parrafo__saldo{
    color: white;
    text-align: center;
}

 

