.proceso__pago{
    color: white;
    font-size: 22px  
}

.alert-success{
    background:$color__dark;
 
}
.texto__pago__exitoso{
    color: white;
}
 .fa-check-circle{
 color: $color__verde;
}