
  .contendor_conoce_a_accent{
    width: 100%;
    height: 750px;
  
  }

 

  .contenedor_parrafo_quienes_somos{
    width: 60%;
    margin: auto;
  }

  
 
  .parrafo__conocenos{
    line-height: 30px;
    font-weight: 500;
    color: $color__gris;
  }
  .contenedor_valores_corporativos{
    margin: 50px 0;
    width: 40%;
  }
.subtitulos__conocenos{
  color: white;
}
 .parrafo__valores{
   color:$color__verde;
 }