.contenedor__servicios{
    margin-top: -600px;
}

.titulo__servicios{
    text-align: center;
    color: white;

}

.parrafo__servicios__info{
    color: $color__gris;
    width: 60%;
    margin: auto;
    text-align: justify;
}

.parrafo__servicios{
    text-align: center;
    color:$color__gris;
    
}

.contenedor__cards__servicios{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.cards__servicios{
    width: 26%;
    height: auto;
    border-radius: 7px;
    background:$color__menu__dashboard;
    margin: 50px 10px 0  10px;
    border-top: 6px solid $color__verde;
}

.botones{
display:flex;
justify-content: space-between;
margin: 0 20px 0 20px;
}

.botones a{
display: inline-block;
text-decoration: 0;
background: #000;
width:50%;
color: white;
padding: 10px;
text-align: center;
border-radius: 50px;
margin: 0 10px 0 10px;

}

.botones button{
    display: inline-block;
    text-decoration: 0;
    background: #000;
    width:50%;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 0 10px 0 10px; 
}


.titulo__producto{
    color: $color__gris;
    font-size: 22px;
   text-align: center;
    margin: 30px 20px 0 20px;
}

.precio_producto{
    text-align: center;
   color: $color__gris ;
}

.enlace__compra__servicio{
    display: inline-block;
    text-decoration: 0;
    width: 90%;
    margin: auto;
    background:$color__verde;
    border-radius: 50px;
    color:white;
    padding: 10px;
    margin: 0 0 20px 0;
    border: none;
    cursor: pointer;
    font-size:19px;
}

.enlace__compra__servicio:hover{
  color: white;
}

@media screen and (max-width:1200px) {
    .cards__servicios{
        width: 30%;
    }
}

@media screen and (max-width:900px) {
    .cards__servicios{
      width: 40%;
      margin:60px  auto 0 auto;
    }
    .parrafo__servicios__info{
      width: 90%;
    }  
  }


@media screen and (max-width:700px) {
  .cards__servicios{
    width: 70%;
    margin:60px  auto 0 auto;
  }
  .parrafo__servicios__info{
    width: 90%;
  }  
}

