.contenedor__servicios{
    margin-top: -600px;
}

.titulo__servicios{
    text-align: center;
    color: white;
}

.parrafo__servicios__info{
    color: $color__gris;
    width: 50%;
    margin: auto;
    text-align: justify;
}

.parrafo__servicios{
    text-align: center;
    color:$color__gris;
    line-height: 150px;
}

.contenedor__cards__servicios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.cards__servicios{
    width: 24%;
    height: auto;
    border-radius: 7px;
    background:$color__menu__dashboard;
    margin: 50px 10px 0  10px;
}

.botones{
display:flex;
justify-content: space-between;
margin: 0 20px 0 20px;
}

.botones a{
display: inline-block;
text-decoration: 0;
background: #000;
width:50%;
color: white;
padding: 10px;
text-align: center;
border-radius: 50px;
margin: 0 10px 0 10px;

}

.botones button{
    display: inline-block;
    text-decoration: 0;
    background: #000;
    width:50%;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 0 10px 0 10px; 
}

.puntuacion__servicios{
 margin:20px 0 0 0;
 text-align: center;
}

.fa-star{
    color:orangered;
}

.titulo__producto{
    width: 200px;
    color: $color__gris;
    font-size: 22px;
    margin:  20px auto 0 auto;
}

.precio_producto{
    text-align: center;
   color: $color__gris ;
}

.enlace__compra__servicio{
    display: inline-block;
    text-decoration: 0;
    width: 90%;
    margin: auto;
    background:$color__verde;
    border-radius: 50px;
    color:white;
    padding: 10px;
    margin: 0 0 20px 0;
    border: none;
    cursor: pointer;
    font-size:19px;
}

.enlace__compra__servicio:hover{
  color: white;
}