
.contenido__servicio__completado{
    width: 100%;
    height: auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

}

.datos__solicitud__completada{
    width: 35%;
    height:auto;
    background:$color__menu__dashboard;
   border-radius: 10px;
   margin:50px auto 20px auto;
}

.texto__servicio__completado{
text-align: center;
color: $color__gris;
}

.estado__terminado{
    font-size: 15px;
}

@media screen and (max-width:700px) {
  .datos__solicitud__completada{
    width: 90%;
    margin: 20px auto 20px auto;

  }  
}