
.datos__de__servicio__completado{
    width: 35%;
    height:auto;
    background:$color__menu__dashboard;
   border-radius: 10px;
   margin:50px auto 20px auto;

}

.texto__servicio__completado{
text-align: center;
color: $color__gris;
}