
.titulo__terminos{
    color:white;
    text-align: center;
    margin-top: 150px;
  
}
.contenedor__terminos{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    line-height: 30px;
}
.subtitulos__terminos{
    font-weight: 900;
    font-size: $tamaño__fuente__subtitulo;
    color: gray;

}
.parrafo__terminos{
    color:$color__gris;
    line-height: 30px;
    font-size: $tamaño__parrafos;
}
.enlace__a__terminos{
   text-decoration: 0;
   color: $color__verde;

   
}
.enlace__a__terminos:hover{
    border-bottom: 2px solid $color__verde;
}