

.subtitulo__registro{
  text-align: center;
  color: white;
  font-size:$tamaño__fuente__subtitulo;
  margin-top: 100px;
}

.formulario__registro {
    width: 40%;
    margin: 100px  auto 0 auto;
    background:$color__formularios;
    border-radius: 7px;
  }

  

  .formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: white;
  }

.formulario__grupo-input {
	position: relative;
}

.formulario__input-error {
	font-size: 10px;
  margin-top: 2px;
	display: none;
  color: #bb2929;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 51%;
	font-size: 16px;
	opacity: 0;
}

.uno{
top: 250px;
}

.dos{
  top: 250px;
  right: 31.5%;


}

.tres{
  top: 360px;

}

.cuatro {
  right: 31.5%;
  top: 360px;

}

.cinco{
  right: 51%;
  top: 470px;


}

.seis{
  right: 31.5%;
  top: 475px;

}

.siete{
  right: 31.5%;
  top: 590px;

}

.icono__email__login{
  right: 32%;
  top:250px;
}


.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.capturarDatos{
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
  box-sizing: border-box;
  background:#fff;
  border: 3px solid transparent;
  border-radius: 3px;
  color: black;
  transition: .3s ease all;
}

.capturarDatos:focus{
  border: 3px solid $color__verde;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163,163,163,0.3);
}




  .boton_registro:hover {
    opacity: 0.8;
  }
  
 
  .contenedor__formulario{
    padding: 16px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    
}



.block{
    grid-column: 1 / 3;
}
.boton__registro{
display: inline-block;
width: 100%;
border-radius: 7px;
border: none;
padding: 15px;
background:$color__verde;
cursor: pointer;

}

.enlace_recuperar_contraseña{
  text-decoration: none;
}

 .contenedor__enlace__sesion{
     display: flex;
     justify-content: space-around;
     max-width: 100%;
     padding: 5px;
    color: white;
    }


    .enlace___login{
        text-decoration: 0;
        color: white;
    }

    .enlace___login:hover{
        border-bottom: solid 2px white;
    }


    .terminos{
        line-height: 20px;
        font-size: 13px;
        color: white;
       }
       
       
       .enlace__terminos{
         text-decoration: none;
         color: white;
        }
        .enlace__terminos:hover{
          color:$color__verde;
        }
       
  
       .content-input input,
       .content-select select{
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
       }
        
       .content-input input{
         visibility: hidden;
         position: absolute;
         right: 0;
         
       }
       .content-input{
        position: relative;
        margin-bottom: 30px;
        padding:10px 0 5px 60px;
        display: block;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
       
  
      .content-input input + i{
             background: #f0f0f0;
             border:2px solid rgba(0,0,0,0.2);
             position: absolute; 
             left: 0;
             top: 0;
      }
       
  
      .content-input input[type=checkbox ] + i{
        width: 52px;
        height: 25px;
        border-radius: 15px;
      }

      .content-input input[type=checkbox] + i:before{
        content: ''; 
        width: 26px;
        height: 26px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
        -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
        box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
      }

      .content-input input[type=checkbox]:checked + i:before{
        left: 22px;
        -webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
        box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
      }
       
      .content-input input[type=checkbox]:checked + i{
       background: #2AC176;
      }

      .content-input input[type=checkbox] + i:after{
        content: 'ON';
        position: absolute;
        font-size: 10px;
        color: rgba(255,255,255,0.6);
        top: 8px;
        left: 4px;
        opacity: 0;
        transition: all 0.25s ease 0.25s;
      }
       
     
      .content-input input[type=checkbox]:checked + i:after{
       opacity: 1;
      }
      
      .formulario__label {
        display: block;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
      }
      
      .formulario__grupo-input {
        position: relative;
      }
      
      .formulario__input {
        width: 100%;
        background: #fff;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: .3s ease all;
      }
      
      .formulario__input:focus {
        border: 3px solid #0075FF;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
      }





      @media screen and (max-width:900px){
    .formulario__registro {
    width: 60%;
    background:$color__formularios;
    border-radius: 7px;
  }
 
      }


      @media screen and (max-width:700px){
        .formulario__registro {
        width: 80%;
        margin: 100px auto;
        background:$color__formularios;
        border-radius: 7px;
      }
     
          }

          @media screen and (max-width:500px){
            .formulario__registro {
            width: 90%;
            margin: 100px auto;
            background:$color__formularios;
            border-radius: 7px;
          }
         
        }

         
    