$color__fondo:#0A192F;
$color__accent:#C0392B;
$color__negro:#000000;
$color__verde:#10ac84;
$color__gris:gray;
$color__fondo__footer:#112240;
$tamaño__fuente__titulo:56px;
$tamaño__fuente__subtitulo:42;

$color__formularios:#112240;
$color__menu__dashboard:#112240;