// @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'index';
@import 'variables';
@import 'reset';
@import 'terminos-y-condiciones-de-uso';
@import 'quienes-somos';
@import 'usuario.scss';
@import 'contacto';
@import 'dashboard-usuario';
@import 'perfil';
@import 'configuracion';
@import 'edit-perfil';
@import 'ayudanos-a-mejorar';
@import 'servicios';
@import 'dashboard-conductor';
@import 'datos-del-servicio';
@import 'actualizacion-contrasena';
@import 'detalles';
@import 'compra';
@import 'procesar-pago';
@import 'compra-completada';
@import '404';
@import 'carros-y-camionestas';
@import 'detalle-usado';
@import 'publicar-vehiculos';
@import 'proceso-de-pago';
@import 'mis-carros-nunciados';
@import 'blog';
@import 'mis-solicitudes';
@import 'final-compra';
@import 'actualizar-plan';
@import 'precios';



body{
    // font-family: 'Baloo Bhaina 2', cursive;
    background:$color__fondo__blog;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

