@import 'index';
@import 'variables';
@import 'reset';
@import 'terminos-y-condiciones-de-uso';
@import 'quienes-somos';
@import 'usuario.scss';
@import 'contacto';
@import 'dashboard-usuario';
@import 'perfil';
@import 'configuracion';
@import 'edit-perfil';
@import 'ayudanos-a-mejorar';
@import 'servicios';
@import 'dashboard-conductor';
@import 'historial';

body{
    font-family: 'Harabara', sans-serif;
    background:$color__fondo;
    user-select: none;
}

