@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --gold1:#F4BD76;
  --gold2:#F6CD8F;
  --gray:#ffffff80;
  --gray2:#f7d9d990;
  --black1: #1A1B1F;
  --black2: #30353B;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
}

:root {
  --screen-width: 100vw;
  --screen-height: 100vh;
  --container-bg-1: #ddc0c3;
  --container-bg-2: #c198c8;
  --container-bg-size: 4rem;
  --nav-text-color: #ffffff;
  --nav-height: 50px;
  --nav-width: 320px;
  --nav-count: 10;
}

.btn-open {
  border-radius: 8px;
  font-size: 33px;
  cursor: pointer;
}

.btn-open:active, .btn-open:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(7px);
}

.nav-opener {
  display: none;
}

.nav-opener:checked + .nav {
  width: var(--screen-width);
  height: var(--screen-height);
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.nav {
  z-index: 1;
  width: 0;
  height: 100%;
  display: grid;
  grid-template-rows: var(--nav-height) 30% auto;
  grid-template-columns: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease-out, width 0ms 300ms, height 0ms 300ms;
}

.nav-header {
  background-color: #112240;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  background-color: #112240;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(var(--nav-count), var(--nav-height));
  grid-template-columns: 100%;
  overflow: auto;
  list-style-type: none;
}

.nav-link {
  color: var(--nav-text-color);
  display: flex;
  align-items: center;
  user-select: none;
  transition: all 150ms ease-out;
  margin: 0 0 0 20px;
}

.nav-link a {
  text-decoration: 0;
  color: white;
}

.nav-link a:hover {
  color: #C0392B;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin: 0 0 0 5px;
}

.nav-link:focus, .nav-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-images {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  position: relative;
}

.nav-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
}

.nav-title {
  color: var(--nav-text-color);
  font-weight: bold;
  height: var(--nav-height);
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.btn-nav {
  text-align: center;
  background-color: #ef2424;
  width: 40px;
}

.btn-nav:active, .btn-nav:focus {
  background-color: #ef2424;
  opacity: 0.8;
}

.btn-nav svg {
  display: block;
}

.btn-nav svg path {
  stroke: #ffffff;
  fill: #ffffff;
}

.nav-link-opener {
  display: none;
}

.image-1 {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

@media (min-width: 768px) {
  .nav {
    grid-template-rows: var(--nav-height) auto;
    grid-template-columns: var(--nav-width) auto;
  }

  .nav-header {
    grid-column-start: span 2;
  }
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.container--modifier {
  width: 60%;
}

.hero {
  width: 100%;
  min-height: 100vh;
}

.nav__hero {
  color: #fff;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0;
}

.logo__name {
  font-size: 24px;
}

.logo__accent {
  width: 100px;
  height: 50px;
}

.point {
  color: #C0392B;
}

.hero__main {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-image: url(../img/fondo__banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__textos {
  width: 98%;
}

.title {
  font-size: 56px;
  font-weight: 300;
  color: #fff;
}

.copy {
  font-size: 24px;
  color: var(--gray);
  text-shadow: var(--shadow) var(--color_shadow);
  margin: 15px 0;
}

.copy__active {
  font-weight: 700;
}

.cta {
  padding: 20px 30px;
  display: inline-block;
  background: #C0392B;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  box-shadow: var(--shadow) var(--color_shadow);
  border-radius: 6px;
}

/* services */
.services {
  background: #fafafa;
}

.subtitle {
  font-size: 42px;
}

.subtitle--modifier {
  text-align: center;
  margin-bottom: 16px;
}

.copy__section {
  color: var(--black2);
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 60px;
}

.copy__section--modifier {
  text-align: center;
  margin-bottom: 32px;
}

.container-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 30px 0;
  overflow: hidden;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  border-radius: 10px;
  position: relative;
  text-align: right;
  margin-bottom: 60px;
  box-shadow: 0 0 6px var(--color_shadow);
}

.card__img {
  width: 95%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.cards__text {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.card__list {
  color: #008A55;
  font-weight: 700;
  margin: 25px 0 12px;
  font-size: 18px;
}

.card__title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 8px;
}

.card__copy {
  color: var(--gray2);
  margin-bottom: 16px;
}

.card__button {
  display: block;
  background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  color: var(--black1);
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
}

.card__date {
  color: var(--gold2);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.container-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.background {
  width: 68%;
  height: 290px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 60px;
}

.background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.background__text {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 15px;
  color: #fff;
}

.background__title {
  font-size: 24px;
  margin-bottom: 4px;
}

.background__copy {
  width: 400px;
}

.testimony {
  background: #fafafa;
}

.testimony-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.testimony__card {
  width: 30%;
  height: 500px;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
}

.testimony__img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center top;
}

.testimony__copy {
  position: absolute;
  bottom: 20px;
  left: 5%;
  width: 90%;
  background: #008A55;
  color: black;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--shadow) var(--color_shadow);
  padding: 15px 8px;
  display: flex;
  align-items: center;
}

.testimony__copy--modifier {
  background: none;
  box-shadow: none;
}

.testimony__logo {
  font-size: 40px;
  margin-right: 15px;
  display: inline-block;
}

.testimony__name {
  font-size: 24px;
  line-height: 28px;
}

.testimony__position {
  color: black;
}

.testimony__text {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.google__logo {
  margin-bottom: 20px;
}

.testimony__history {
  font-size: 21px;
  font-weight: 300;
}

.testimony__info {
  width: 70%;
}

.logo--picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center top;
}

/* check */
.check {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.check__item {
  width: 30%;
  padding-right: 10px;
  display: flex;
  border-right: 2px solid var(--black2);
}

.bx-check {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  border-radius: 50%;
  font-size: 40px;
}

.check__number {
  font-weight: 700;
}

.check__copy {
  font-weight: 300;
}

.contenedor__footer {
  width: 100%;
  height: auto;
  color: white;
  line-height: 30px;
  background: #112240;
}

.titulo__footer {
  color: #C0392B;
  font-size: 16px;
  font-weight: bold;
}

.contenedor__footer a {
  text-decoration: 0;
  color: gray;
  display: block;
}

.enlaces__footer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 50px;
  }

  .copy {
    font-size: 22px;
  }

  .cta {
    padding: 15px 22px;
  }

  .container-cards {
    justify-content: space-evenly;
  }

  .services .card {
    width: 45%;
  }

  .background {
    width: 52%;
  }

  .card {
    width: 42%;
  }

  .testimony-container {
    justify-content: space-evenly;
  }

  .testimony__card {
    width: 45%;
  }

  .check__item {
    width: 45%;
    margin-bottom: 35px;
  }

  .newsletter {
    width: 80%;
  }

  .download {
    width: 100%;
  }

  .download__app {
    justify-content: space-between;
  }

  .download__item {
    width: 45%;
  }

  .get-email {
    width: 100%;
    margin-bottom: 40px;
  }

  .socialmedia__icon {
    font-size: 18px;
  }

  .socialmedia__legend {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  main .container,
footer .container {
    padding: 60px 0;
  }

  .nav__container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav__hero {
    height: auto;
  }

  .logo {
    padding: 15px 0;
    text-align: center;
  }

  .links {
    padding-bottom: 10px;
    text-align: center;
  }

  .link {
    padding: 7px 10px;
  }

  .hero__main {
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 70px;
    height: auto;
    padding: 30px 0;
  }

  .hero__textos {
    width: 100%;
    text-align: center;
  }

  .mockup {
    width: 60%;
    margin-bottom: 20px;
  }

  .title {
    font-size: 35px;
  }

  .copy {
    font-size: 20px;
  }

  .subtitle {
    font-size: 35px;
    text-align: center;
  }

  .copy__section {
    font-size: 20px;
    text-align: center;
  }

  .services .card {
    width: 80%;
  }

  .container-bg {
    justify-content: space-evenly;
  }

  .card {
    margin-bottom: 40px;
    width: 65%;
  }

  .card__title {
    font-size: 35px;
  }

  .card__button {
    width: 100%;
  }

  .background {
    width: 65%;
    margin-bottom: 40px;
  }

  .background__copy {
    display: none;
  }

  .testimony__card {
    width: 65%;
  }

  .testimony__name {
    font-size: 20px;
  }

  .container--modifier {
    width: 80%;
  }

  .item__contact {
    width: 100%;
    padding: 30px 0;
  }
}
@media screen and (max-width: 500px) {
  .mockup {
    width: 80%;
    margin-bottom: 15px;
  }

  .services .card {
    width: 95%;
  }

  .card {
    width: 95%;
  }

  .background {
    width: 95%;
  }

  .testimony__card {
    width: 95%;
  }

  .testimony__history {
    font-size: 20px;
  }

  .container--modifier {
    width: 90%;
  }

  .newsletter {
    width: 100%;
    display: none;
  }

  .newsletter--modifier {
    display: block;
  }

  .check__item {
    width: 100%;
    border: none;
    padding: none;
    justify-content: center;
  }

  .download__item {
    width: 49%;
  }

  .download__title {
    font-size: 16px;
  }

  .download__logo {
    font-size: 30px;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.titulo__terminos {
  font-size: 56px;
  color: white;
  text-align: center;
  margin-top: 150px;
}

.contenedor__terminos {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  line-height: 30px;
}

.subtitulos__terminos {
  font-weight: 900;
  font-size: 42;
  color: gray;
}

.parrafo__terminos {
  color: gray;
}

.enlace__a__terminos {
  text-decoration: 0;
  color: #008A55;
}

.enlace__a__terminos:hover {
  border-bottom: 2px solid #008A55;
}

.contendor_conoce_a_accent {
  width: 100%;
  height: 750px;
}

.contenedor_parrafo_quienes_somos {
  width: 60%;
  margin: auto;
}

.parrafo__conocenos {
  line-height: 30px;
  font-weight: 500;
  color: gray;
}

.contenedor_valores_corporativos {
  margin: 50px 0;
  width: 40%;
}

.subtitulos__conocenos {
  color: white;
}

.parrafo__valores {
  color: #008A55;
}

.formulario__registro {
  width: 37%;
  margin: 100px auto;
  background: #112240;
  border-radius: 7px;
}

.capturarDatos {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  color: black;
  transition: 0.3s ease all;
}

.capturarDatos:focus {
  border: 3px solid #008A55;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.3);
}

.capturar__datos__sintomas {
  max-width: 100%;
  height: 60px;
  min-width: 100%;
  min-height: 60px;
  max-width: 100%;
  max-height: 100%;
}

.boton_registro:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.contenedor__formulario {
  padding: 16px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.block {
  grid-column: 1/3;
}

.boton__registro {
  display: inline-block;
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 15px;
  background: #008A55;
  cursor: pointer;
}

.enlace_recuperar_contraseña {
  text-decoration: none;
}

.contenedor__enlace__sesion {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding: 5px;
}

.enlace___login {
  text-decoration: 0;
  color: white;
}

.enlace___login:hover {
  border-bottom: solid 2px white;
}

.terminos {
  line-height: 20px;
  font-size: 13px;
}

.enlace__terminos {
  text-decoration: none;
  color: white;
}
.enlace__terminos:hover {
  color: #008A55;
}

.subtitulos {
  text-align: center;
  font-size: 32px;
  color: white;
  line-height: 40px;
}

.parrafo__contacto {
  text-align: center;
  color: gray;
}

.cards__contacto {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formas__de__contacto {
  margin: 90px 0 0 0;
  width: 20%;
  height: 100px;
  border-radius: 7px;
  border: solid 2px #008A55;
  text-decoration: 0;
  color: white;
  text-align: center;
  font-size: 20px;
}

.contenedor__enalces__menu__home {
  width: 100%;
  margin: 0 0 0 10px;
}

.enlaces__varios {
  display: flex;
  align-items: center;
}

.enlace__perfil__usuario {
  text-decoration: 0;
  color: white;
}

.avatar__perfil {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: solid 2px #008A55;
  margin: 0 10px 0 0;
}

.item__nombre {
  width: 80%;
  float: right;
  height: 30px;
  text-align: left;
  margin-top: 6px;
  margin-right: 5px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: #112240;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 13%;
  width: 100%;
  margin-top: 30px;
}

.fa-home, .fa-cogs, .fa-history, .fa-mail-bulk, .fa-star, .fa-power-off, .usuario__menu {
  background: #0A192F;
  border-radius: 100px;
  padding: 10px;
}

.enlaces__menu__home {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.contenedor__enalces__menu__home:hover, .econtenedor__enalces__menu__home:focus {
  color: gray;
  border-radius: 7px;
  background: #0A192F;
  width: 90%;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
  color: gray;
}

.contenedor__dashboard {
  margin-top: -600px;
}

.titulo__dashboard {
  font-size: 20px;
  color: white;
}

.datos__perfiles {
  display: flex;
}

.card__perfiles__dashboard {
  width: 45%;
  text-decoration: 0;
  color: white;
  line-height: 5px;
}

.imagen__cards__perfiles {
  width: 45%;
  border-radius: 25px;
}

.card__datos__conductor {
  position: relative;
  top: -100px;
  left: 20px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.contenedor__datos__perfil {
  margin-top: -600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #112240;
  border-radius: 7px;
}

.info__perfil {
  width: 100%;
  margin: -70px 0 0 30px;
}

.foto__de__perfil {
  width: 40%;
  height: 300px;
  border-radius: 25px;
}

.enlace__de__redes__sociales {
  display: inline-block;
  text-decoration: 0;
  font-size: 20px;
  color: white;
  margin: 10px 30px 0 30px;
}

.enlace__editar__perfil {
  margin: 20px 0 0 0;
  text-decoration: 0;
  display: inline-block;
  color: black;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 7px;
  background: #008A55;
}

.datos__del__perfil__de__usuario {
  border-radius: 7px;
  width: 40%;
}

.contenedor__opinion {
  background: #112240;
  border-radius: 7px;
  margin-top: 100px;
}

.titulo__opinion {
  text-align: center;
  color: white;
  font-size: 30px;
}

.opinion__1 {
  width: 50%;
  height: auto;
  border-radius: 10px;
  background: #0A192F;
  margin: 20px 0 0 20px;
}

.avatar__opinion__1 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: solid 2px #008A55;
}

.item__opinion {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
  color: gray;
}

.nombre__item__opinion {
  margin-left: 10px;
}

.parrafo__item__opinion {
  margin-left: 50px;
  margin-top: -15px;
  width: 80%;
  height: auto;
}

.parrafo {
  width: 80%;
  margin: 10px 0 0 10px;
  word-wrap: break-word;
  color: white;
  font-size: 15px;
}

.fecha__publicacion {
  font-size: 12px;
  color: gray;
  margin: 10px 0 0 10px;
}

.formulario__respuesta {
  width: 70%;
  margin: 20px 0 0 20px;
}

.respuesta {
  width: 70%;
  padding: 10px;
  border: 0;
  margin: 20px 0 0 0;
  outline: 0;
  background: #0A192F;
  border-radius: 7px;
  color: white;
}

.boton__respuesta {
  display: inline-block;
  background: #0A192F;
  border: 0;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 50px;
}

.titulo__configuracion {
  color: white;
}

.contenedor__configuracion {
  height: auto;
  margin-top: -600px;
}

.item__configuracion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__configuracion {
  width: 35%;
  border-radius: 7px;
  height: 200px;
  text-decoration: 0;
}

.titulo__item__configuracion {
  text-align: center;
  color: black;
  font-size: 25px;
}

.cambiar__contraseña {
  background-image: url(../img/cambiar__contrasena.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #008A55;
  background-position: center;
}

.eliminar__cuenta {
  background: #b71540;
  background-image: url(../img/eliminar__cuenta.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.parrafo__item__configuracion {
  color: black;
  text-align: center;
}

.editarPerfil {
  margin-top: -600px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: #112240;
  border-radius: 7px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 0 auto 0 auto;
  background: #000;
}

.imagen__avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.cambiar__avatar {
  color: gray;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 50px;
  margin: -70px 30%;
}

.inputFoto {
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  top: -1000px;
}

.parrafo__edit__perfil {
  text-align: center;
  color: gray;
}

.textos__label {
  color: white;
}

.linea__editar__perfil {
  border-bottom: 1px;
  width: 100%;
  color: white;
  grid-column: 1/3;
}

.actualizar {
  padding: 4px;
}

.text__area__mensaje {
  max-width: 100%;
  min-width: 100%;
  max-height: 100px;
  min-height: 100px;
  border-radius: 4px;
}

.contenedor__capturara__datos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.block {
  grid-column: 1/3;
}

.contenedor__formulario__sugerencia {
  margin-top: -700px;
}

.formulario__sugerencia {
  width: 70%;
}

.titulo__mejoras, .parrafo__mejoras {
  color: gray;
  text-align: center;
}

.parrafo__mejoras {
  width: 50%;
  margin: auto;
}

.titulo__mejoras {
  font-size: 30px;
}

.enlace__a__contacto {
  text-decoration: 0;
  color: #008A55;
}

.enlace__a__contacto:hover {
  border-bottom: solid 2px #008A55;
}

.contenedor__servicios {
  margin-top: -700px;
}

.titulo__servicios {
  text-align: center;
  color: white;
}

.parrafo__servicios {
  text-align: center;
  color: white;
}

.contenedor__cards__servicios {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards__servicios {
  width: 25%;
  border-radius: 7px;
  background: #112240;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.botones a {
  text-decoration: 0;
  background: #000;
  width: 100px;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
}

.puntuacion__servicios {
  margin: 20px 0 0 0;
  text-align: center;
}

.fa-star {
  color: orangered;
}

body {
  font-family: "Harabara", sans-serif;
  background: #0A192F;
  user-select: none;
}

/*# sourceMappingURL=app.css.map */
